### <div class="alert alert-success" style="background:#2C3E50;color:white">Data Frame Operations - Window Functions - Overview & APIs</div>

This section will show advanced operations on Data Frames such as -
* Windowing functions

Windowing functions comprise APIs for -
* Aggregations
* Rankings
* Analytics

<p style="background:#F1C40F"><b>Example Problem : </b>To compute and compare individual salary with department wise salary expense. </p>

<p style="background:#AED6F1"><b>Windowing Aggregation Example</p>

<p style="background :#d0d5db"><b> Approaches:</b></p>

* First approach requires self join.
    - Compute department wise expense using groupBy and agg.
    - Join with employees again on department_id.

<p style="background :#d0d5db"><b> Example</p>

In [ ]:
>>> employeesDF = spark.read. \
...                     format('csv'). \
...                     option('sep', '\t'). \
...                     schema('''emp_id int,
...                             fname string,
...                             lname string,
...                             email string,
...                             phone string,
...                             hiredt string,
...                             job_id string,
...                             salary float,
...                             commission_pct string,
...                             manager_id string,
...                             department_id int'''). \
...                     load('/user/monahadoop/hr_db/employees')

In [ ]:
>>> employeesDF.show()

+------+-------+----------+--------+------------------+----------+--------+-------+--------------+----------+-------------+
|emp_id|  fname|     lname|   email|             phone|    hiredt|  job_id| salary|commission_pct|manager_id|department_id|
+------+-------+----------+--------+------------------+----------+--------+-------+--------------+----------+-------------+
|   127|  James|    Landry| JLANDRY|      650.124.1334|1999-01-14|ST_CLERK| 2400.0|          null|       120|           50|
|   128| Steven|    Markle| SMARKLE|      650.124.1434|2000-03-08|ST_CLERK| 2200.0|          null|       120|           50|
|   129|  Laura|    Bissot| LBISSOT|      650.124.5234|1997-08-20|ST_CLERK| 3300.0|          null|       121|           50|
|   130|  Mozhe|  Atkinson|MATKINSO|      650.124.6234|1997-10-30|ST_CLERK| 2800.0|          null|       121|           50|
|   131|  James|    Marlow| JAMRLOW|      650.124.7234|1997-02-16|ST_CLERK| 2500.0|          null|       121|           50|
|   132|     TJ|     Olson| TJOLSON|      650.124.8234|1999-04-10|ST_CLERK| 2100.0|          null|       121|           50|
|   133|  Jason|    Mallin| JMALLIN|      650.127.1934|1996-06-14|ST_CLERK| 3300.0|          null|       122|           50|
|   134|Michael|    Rogers| MROGERS|      650.127.1834|1998-08-26|ST_CLERK| 2900.0|          null|       122|           50|
|   135|     Ki|       Gee|    KGEE|      650.127.1734|1999-12-12|ST_CLERK| 2400.0|          null|       122|           50|
|   136|  Hazel|Philtanker|HPHILTAN|      650.127.1634|2000-02-06|ST_CLERK| 2200.0|          null|       122|           50|
|   137| Renske|    Ladwig| RLADWIG|      650.121.1234|1995-07-14|ST_CLERK| 3600.0|          null|       123|           50|
|   138|Stephen|    Stiles| SSTILES|      650.121.2034|1997-10-26|ST_CLERK| 3200.0|          null|       123|           50|
|   139|   John|       Seo|    JSEO|      650.121.2019|1998-02-12|ST_CLERK| 2700.0|          null|       123|           50|
|   140| Joshua|     Patel|  JPATEL|      650.121.1834|1998-04-06|ST_CLERK| 2500.0|          null|       123|           50|
|   141| Trenna|      Rajs|   TRAJS|      650.121.8009|1995-10-17|ST_CLERK| 3500.0|          null|       124|           50|
|   142| Curtis|    Davies| CDAVIES|      650.121.2994|1997-01-29|ST_CLERK| 3100.0|          null|       124|           50|
|   143|Randall|     Matos|  RMATOS|      650.121.2874|1998-03-15|ST_CLERK| 2600.0|          null|       124|           50|
|   144|  Peter|    Vargas| PVARGAS|      650.121.2004|1998-07-09|ST_CLERK| 2500.0|          null|       124|           50|
|   145|   John|   Russell| JRUSSEL|011.44.1344.429268|1996-10-01|  SA_MAN|14000.0|          0.40|       100|           80|
|   146|  Karen|  Partners|KPARTNER|011.44.1344.467268|1997-01-05|  SA_MAN|13500.0|          0.30|       100|           80|
+------+-------+----------+--------+------------------+----------+--------+-------+--------------+----------+-------------+
only showing top 20 rows

In [ ]:
>>> employeesDF.select('emp_id', 'department_id', 'salary'). \
...             groupBy('department_id'). \
...             agg(round(sum('salary'),2).alias('salary_expense')).show()

+-------------+--------------+
|department_id|salary_expense|
+-------------+--------------+
|         null|          null|
|           20|       19000.0|
|           40|        6500.0|
|          100|       51600.0|
|           10|        4400.0|
|           50|      156400.0|
|           80|      304500.0|
|           70|       10000.0|
|           90|       58000.0|
|           60|       28800.0|
|          110|       20300.0|
|           30|       24900.0|
+-------------+--------------+

* <p style="background :#d0d5db"><b> Second approach Aggreagtion with windowing functions.</p>

**However, using the first approach is not very efficient and also overly complicated. Windowing functions actually simplify the logic and also runs efficiently.**

The details related to Windowing functions are as follows:
- Main package pyspark.sql.window
- It has classes such as Window and WindowSpec
- Window have APIs such as partitionBy, orderBy etc
- These APIs (such as partitionBy) return WindowSpec object. We can pass WindowSpec object to over on functions such as rank(), dense_rank(), sum() etc
 - Syntax:<code>sum().over(spec) where spec = Window.partitionBy('ColumnName')</code>

The following is the lst of different windowing functions -


<table align=left><tr><td>Functions</td><td>API or Function</td></tr>
<tr><td>Aggregate Functions</td><td>sum</td></tr>
<tr><td></td><td>avg</td></tr>
<tr><td></td><td>min</td></tr>
<tr><td></td><td>max</td></tr>
<tr><td>Ranking Functions</td><td>rank</td></tr>   
<tr><td></td><td>dense_rank</td></tr>
<tr><td></td><td>percent_rank</td></tr>
<tr><td></td><td>row_number</td></tr>
<tr><td></td><td>ntile</td></tr>
<tr><td>Analytic Functions</td><td></td></tr>
<tr><td></td><td>cume_dist</td></tr>
<tr><td></td><td>first</td></tr>
<tr><td></td><td>last</td></tr>
<tr><td></td><td>lead</td></tr>
<tr><td></td><td>lag</td></tr>    
</table>

<p style="background :#d0d5db"><b> Example</p>

In [ ]:
>>> from pyspark.sql.window import *

In [ ]:
>>> from pyspark.sql.functions import *

In [ ]:
>>> employeesDF = spark.read. \
...                      format('csv'). \
...                      option('sep', '\t'). \
...                      schema('''emp_id int,
...                              fname string,
...                              lname string,
...                              email string,
...                              phone string,
...                              hiredt string,
...                              job_id string,
...                              salary float,
...                              commission_pct string,
...                              manager_id string,
...                             department_id string'''). \
...                     load('/user/monahadoop/hr_db/employees')
>>> employeesDF.show()

+------+-------+----------+--------+------------------+----------+--------+-------+--------------+----------+-------------+
|emp_id|  fname|     lname|   email|             phone|    hiredt|  job_id| salary|commission_pct|manager_id|department_id|
+------+-------+----------+--------+------------------+----------+--------+-------+--------------+----------+-------------+
|   127|  James|    Landry| JLANDRY|      650.124.1334|1999-01-14|ST_CLERK| 2400.0|          null|       120|           50|
|   128| Steven|    Markle| SMARKLE|      650.124.1434|2000-03-08|ST_CLERK| 2200.0|          null|       120|           50|
|   129|  Laura|    Bissot| LBISSOT|      650.124.5234|1997-08-20|ST_CLERK| 3300.0|          null|       121|           50|
|   130|  Mozhe|  Atkinson|MATKINSO|      650.124.6234|1997-10-30|ST_CLERK| 2800.0|          null|       121|           50|
|   131|  James|    Marlow| JAMRLOW|      650.124.7234|1997-02-16|ST_CLERK| 2500.0|          null|       121|           50|
|   132|     TJ|     Olson| TJOLSON|      650.124.8234|1999-04-10|ST_CLERK| 2100.0|          null|       121|           50|
|   133|  Jason|    Mallin| JMALLIN|      650.127.1934|1996-06-14|ST_CLERK| 3300.0|          null|       122|           50|
|   134|Michael|    Rogers| MROGERS|      650.127.1834|1998-08-26|ST_CLERK| 2900.0|          null|       122|           50|
|   135|     Ki|       Gee|    KGEE|      650.127.1734|1999-12-12|ST_CLERK| 2400.0|          null|       122|           50|
|   136|  Hazel|Philtanker|HPHILTAN|      650.127.1634|2000-02-06|ST_CLERK| 2200.0|          null|       122|           50|
|   137| Renske|    Ladwig| RLADWIG|      650.121.1234|1995-07-14|ST_CLERK| 3600.0|          null|       123|           50|
|   138|Stephen|    Stiles| SSTILES|      650.121.2034|1997-10-26|ST_CLERK| 3200.0|          null|       123|           50|
|   139|   John|       Seo|    JSEO|      650.121.2019|1998-02-12|ST_CLERK| 2700.0|          null|       123|           50|
|   140| Joshua|     Patel|  JPATEL|      650.121.1834|1998-04-06|ST_CLERK| 2500.0|          null|       123|           50|
|   141| Trenna|      Rajs|   TRAJS|      650.121.8009|1995-10-17|ST_CLERK| 3500.0|          null|       124|           50|
|   142| Curtis|    Davies| CDAVIES|      650.121.2994|1997-01-29|ST_CLERK| 3100.0|          null|       124|           50|
|   143|Randall|     Matos|  RMATOS|      650.121.2874|1998-03-15|ST_CLERK| 2600.0|          null|       124|           50|
|   144|  Peter|    Vargas| PVARGAS|      650.121.2004|1998-07-09|ST_CLERK| 2500.0|          null|       124|           50|
|   145|   John|   Russell| JRUSSEL|011.44.1344.429268|1996-10-01|  SA_MAN|14000.0|          0.40|       100|           80|
|   146|  Karen|  Partners|KPARTNER|011.44.1344.467268|1997-01-05|  SA_MAN|13500.0|          0.30|       100|           80|
+------+-------+----------+--------+------------------+----------+--------+-------+--------------+----------+-------------+

>>> employeesDF.select('emp_id', 'salary', 'department_id').show()
+------+-------+-------------+
|emp_id| salary|department_id|
+------+-------+-------------+
|   127| 2400.0|           50|
|   128| 2200.0|           50|
|   129| 3300.0|           50|
|   130| 2800.0|           50|
|   131| 2500.0|           50|
|   132| 2100.0|           50|
|   133| 3300.0|           50|
|   134| 2900.0|           50|
|   135| 2400.0|           50|
|   136| 2200.0|           50|
|   137| 3600.0|           50|
|   138| 3200.0|           50|
|   139| 2700.0|           50|
|   140| 2500.0|           50|
|   141| 3500.0|           50|
|   142| 3100.0|           50|
|   143| 2600.0|           50|
|   144| 2500.0|           50|
|   145|14000.0|           80|
|   146|13500.0|           80|
+------+-------+-------------+
only showing top 20 rows

In [ ]:
>>> spec = Window.partitionBy('department_id')

In [ ]:
>>> employeesDF.select('emp_id', 'salary', 'department_id').\
...             withColumn('salary_expense', sum('salary').over(spec)). \
...             show()

+------+-------+-------------+--------------+
|emp_id| salary|department_id|salary_expense|
+------+-------+-------------+--------------+
|   200| 4400.0|           10|        4400.0|
|   110| 8200.0|          100|       51600.0|
|   111| 7700.0|          100|       51600.0|
|   112| 7800.0|          100|       51600.0|
|   113| 6900.0|          100|       51600.0|
|   108|12000.0|          100|       51600.0|
|   109| 9000.0|          100|       51600.0|
|   205|12000.0|          110|       20300.0|
|   206| 8300.0|          110|       20300.0|
|   202| 6000.0|           20|       19000.0|
|   201|13000.0|           20|       19000.0|
|   114|11000.0|           30|       24900.0|
|   119| 2500.0|           30|       24900.0|
|   116| 2900.0|           30|       24900.0|
|   115| 3100.0|           30|       24900.0|
|   118| 2600.0|           30|       24900.0|
|   117| 2800.0|           30|       24900.0|
|   203| 6500.0|           40|        6500.0|
|   127| 2400.0|           50|      156400.0|
|   128| 2200.0|           50|      156400.0|
+------+-------+-------------+--------------+
only showing top 20 rows

<p style="background :#d0d5db"><b>Windowing Aggregation Example using spark sql</b> </p>

In [ ]:
>>> employeesDF.createOrReplaceTempView('empvw')

In [ ]:
>>> salaryExpense = spark.sql("select _c0, _c7, _c10, sum(_c7)
                              over(partition by _c10) salary_exp 
                              from empvw order by _c10, _c7 desc")

>>> salaryExpense.show()
+---+--------+----+----------+
|_c0|     _c7|_c10|salary_exp|
+---+--------+----+----------+
|200| 4400.00|  10|    4400.0|
|109| 9000.00| 100|   51600.0|
|110| 8200.00| 100|   51600.0|
|112| 7800.00| 100|   51600.0|
|111| 7700.00| 100|   51600.0|
|113| 6900.00| 100|   51600.0|
|108|12000.00| 100|   51600.0|
|206| 8300.00| 110|   20300.0|
|205|12000.00| 110|   20300.0|
|202| 6000.00|  20|   19000.0|
|201|13000.00|  20|   19000.0|
|115| 3100.00|  30|   24900.0|
|116| 2900.00|  30|   24900.0|
|117| 2800.00|  30|   24900.0|
|118| 2600.00|  30|   24900.0|
|119| 2500.00|  30|   24900.0|
|114|11000.00|  30|   24900.0|
|203| 6500.00|  40|    6500.0|
|121| 8200.00|  50|  156400.0|
|120| 8000.00|  50|  156400.0|
+---+--------+----+----------+
only showing top 20 rows

<p style="background:#AED6F1"><b>Data Frame Operations - Creating Window Spec</b>

<p style="background:#F1C40F"><b>Window spec :</b> is a specification which contains based on what columns you want to perform operations such as aggregation, ranking, windowing, analytics etc.</p>

* The class Window in spark has APIs such a partitionBy and orderBy. 
* For aggregation, we can define the group by using partitionBy.
* For ranking and windowing we need to use partitionBy and orderBy.<br>
  partitionBy is to group the data based on the specified column <br>
  orderBy   is sort the data to assign rank.
* partitionBy and orderBy return object of class WindowSpec.
* WindowSpec object needs to be passed in over() clause for ranking and       aggregation.

In [ ]:
>>> from pyspark.sql import window

In [ ]:
>>> help(window)

In [ ]:
>>> spec = Window.\
...             partitionBy('department_id'). \
...             orderBy(employeesDF.salary.desc())

<p style="background:#AED6F1"><b>Data Frame Operations - Performing Aggregations using sum, avg etc</b>

In [ ]:
>>> employeesDF = spark.read. \
...                      format('csv'). \
...                      option('sep', '\t'). \
...                      schema('''emp_id int,
...                              fname string,
...                              lname string,
...                              email string,
...                              phone string,
...                              hiredt string,
...                              job_id string,
...                              salary float,
...                              commission_pct string,
...                              manager_id string,
...                             department_id string'''). \
...                     load('/user/monahadoop/hr_db/employees')

In [ ]:
>>> from pyspark.sql.window import *
>>> spec = Window.partitionBy('department_id')

In [ ]:
>>> employeesDF.select('emp_id', 'salary', 'department_id').\
...             withColumn('salary_expense', sum('salary').over(spec)). \
...             sort('department_id').show()

+------+-------+-------------+--------------+
|emp_id| salary|department_id|salary_expense|
+------+-------+-------------+--------------+
|   200| 4400.0|           10|        4400.0|
|   110| 8200.0|          100|       51600.0|
|   111| 7700.0|          100|       51600.0|
|   112| 7800.0|          100|       51600.0|
|   113| 6900.0|          100|       51600.0|
|   108|12000.0|          100|       51600.0|
|   109| 9000.0|          100|       51600.0|
|   205|12000.0|          110|       20300.0|
|   206| 8300.0|          110|       20300.0|
|   202| 6000.0|           20|       19000.0|
|   201|13000.0|           20|       19000.0|
|   114|11000.0|           30|       24900.0|
|   119| 2500.0|           30|       24900.0|
|   116| 2900.0|           30|       24900.0|
|   115| 3100.0|           30|       24900.0|
|   118| 2600.0|           30|       24900.0|
|   117| 2800.0|           30|       24900.0|
|   203| 6500.0|           40|        6500.0|
|   127| 2400.0|           50|      156400.0|
|   128| 2200.0|           50|      156400.0|
+------+-------+-------------+--------------+
only showing top 20 rows

In [ ]:
>>> employeesDF.select('emp_id','department_id','salary').\
...             withColumn('salary_expense', sum('salary').over(spec)). \
...             withColumn('least_salary', min('salary').over(spec)). \
...             withColumn('highest_salary', max('salary').over(spec)). \
...             withColumn('average_salary', avg('salary').over(spec)). \
...             sort('department_id').show()

+------+-------------+-------+--------------+------------+--------------+------------------+
|emp_id|department_id| salary|salary_expense|least_salary|highest_salary|    average_salary|
+------+-------------+-------+--------------+------------+--------------+------------------+
|   200|           10| 4400.0|        4400.0|      4400.0|        4400.0|            4400.0|
|   110|          100| 8200.0|       51600.0|      6900.0|       12000.0|            8600.0|
|   111|          100| 7700.0|       51600.0|      6900.0|       12000.0|            8600.0|
|   112|          100| 7800.0|       51600.0|      6900.0|       12000.0|            8600.0|
|   113|          100| 6900.0|       51600.0|      6900.0|       12000.0|            8600.0|
|   108|          100|12000.0|       51600.0|      6900.0|       12000.0|            8600.0|
|   109|          100| 9000.0|       51600.0|      6900.0|       12000.0|            8600.0|
|   205|          110|12000.0|       20300.0|      8300.0|       12000.0|           10150.0|
|   206|          110| 8300.0|       20300.0|      8300.0|       12000.0|           10150.0|
|   202|           20| 6000.0|       19000.0|      6000.0|       13000.0|            9500.0|
|   201|           20|13000.0|       19000.0|      6000.0|       13000.0|            9500.0|
|   114|           30|11000.0|       24900.0|      2500.0|       11000.0|            4150.0|
|   119|           30| 2500.0|       24900.0|      2500.0|       11000.0|            4150.0|
|   116|           30| 2900.0|       24900.0|      2500.0|       11000.0|            4150.0|
|   115|           30| 3100.0|       24900.0|      2500.0|       11000.0|            4150.0|
|   118|           30| 2600.0|       24900.0|      2500.0|       11000.0|            4150.0|
|   117|           30| 2800.0|       24900.0|      2500.0|       11000.0|            4150.0|
|   203|           40| 6500.0|        6500.0|      6500.0|        6500.0|            6500.0|
|   127|           50| 2400.0|      156400.0|      2100.0|        8200.0|3475.5555555555557|
|   128|           50| 2200.0|      156400.0|      2100.0|        8200.0|3475.5555555555557|
+------+-------------+-------+--------------+------------+--------------+------------------+
only showing top 20 rows

In [ ]:
>>> employeesDF.select('emp_id','department_id','salary').\
...             withColumn('salary_expense', sum('salary').over(spec)). \
...             withColumn('salary_pct', employeesDF.salary/col('salary_expense')). \
...             show()

+------+-------------+-------+--------------+-------------------+
|emp_id|department_id| salary|salary_expense|         salary_pct|
+------+-------------+-------+--------------+-------------------+
|   114|           30|11000.0|       24900.0|0.44176706827309237|
|   115|           30| 3100.0|       24900.0|0.12449799196787148|
|   116|           30| 2900.0|       24900.0|0.11646586345381527|
|   117|           30| 2800.0|       24900.0|0.11244979919678715|
|   118|           30| 2600.0|       24900.0|0.10441767068273092|
|   119|           30| 2500.0|       24900.0|0.10040160642570281|
|   205|          110|12000.0|       20300.0| 0.5911330049261084|
|   206|          110| 8300.0|       20300.0| 0.4088669950738916|
|   108|          100|12000.0|       51600.0|0.23255813953488372|
|   109|          100| 9000.0|       51600.0| 0.1744186046511628|
|   110|          100| 8200.0|       51600.0|0.15891472868217055|
|   111|          100| 7700.0|       51600.0|0.14922480620155038|
|   112|          100| 7800.0|       51600.0| 0.1511627906976744|
|   113|          100| 6900.0|       51600.0|0.13372093023255813|
|   204|           70|10000.0|       10000.0|                1.0|
|   103|           60| 9000.0|       28800.0|             0.3125|
|   104|           60| 6000.0|       28800.0|0.20833333333333334|
|   105|           60| 4800.0|       28800.0|0.16666666666666666|
|   106|           60| 4800.0|       28800.0|0.16666666666666666|
|   107|           60| 4200.0|       28800.0|0.14583333333333334|
+------+-------------+-------+--------------+-------------------+
only showing top 20 rows

In [ ]:
>>> employeesDF.select('emp_id','department_id','salary').\
...             withColumn('salary_expense', sum('salary').over(spec)). \
...             withColumn('salary_pct', round((employeesDF.salary/col('salary_expense') * 100), 2)). \ 
...             show()

+------+-------------+-------+--------------+----------+
|emp_id|department_id| salary|salary_expense|salary_pct|
+------+-------------+-------+--------------+----------+
|   114|           30|11000.0|       24900.0|     44.18|
|   115|           30| 3100.0|       24900.0|     12.45|
|   116|           30| 2900.0|       24900.0|     11.65|
|   117|           30| 2800.0|       24900.0|     11.24|
|   118|           30| 2600.0|       24900.0|     10.44|
|   119|           30| 2500.0|       24900.0|     10.04|
|   205|          110|12000.0|       20300.0|     59.11|
|   206|          110| 8300.0|       20300.0|     40.89|
|   108|          100|12000.0|       51600.0|     23.26|
|   109|          100| 9000.0|       51600.0|     17.44|
|   110|          100| 8200.0|       51600.0|     15.89|
|   111|          100| 7700.0|       51600.0|     14.92|
|   112|          100| 7800.0|       51600.0|     15.12|
|   113|          100| 6900.0|       51600.0|     13.37|
|   204|           70|10000.0|       10000.0|     100.0|
|   103|           60| 9000.0|       28800.0|     31.25|
|   104|           60| 6000.0|       28800.0|     20.83|
|   105|           60| 4800.0|       28800.0|     16.67|
|   106|           60| 4800.0|       28800.0|     16.67|
|   107|           60| 4200.0|       28800.0|     14.58|
+------+-------------+-------+--------------+----------+
only showing top 20 rows

<p style="background:#AED6F1"><b>Exercises</b></p>

<p style="background:#F1C40F">Get the average Salary for each department and details of all employees who earn more than the average salary .</p>

In [ ]:
>>> from pyspark.sql.functions import *
>>> from pyspark.sql.window import *

In [ ]:
>>> employees = spark.read. \
...                     format('csv'). \
...                     option('sep', '\t'). \
...                     schema('''emp_id int,
...                             fname string,
...                             lname string,
...                             email string,
...                             phone string,
...                             hiredt string,
...                             job_id string,
...                             salary float,
...                             com_pct string,
...                             mgr_id string,
...                             dept_id string'''). \
...                     load('/user/monahadoop/hr_db/employees')

>>> employees.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- hiredt: string (nullable = true)
 |-- job_id: string (nullable = true)
 |-- salary: float (nullable = true)
 |-- com_pct: string (nullable = true)
 |-- mgr_id: string (nullable = true)
 |-- dept_id: string (nullable = true)

In [ ]:
>>> spec = Window.partitionBy('dept_id')

In [ ]:
>>> avgSalaryByDept = employees.\
...                     select('emp_id', 'fname', 'lname', 'salary', 'dept_id'). \
...                     withColumn('average_salary', avg('salary').over(spec))

In [ ]:
>>> avgSalaryByDept.show()

+------+-----------+----------+-------+-------+--------------+
|emp_id|      fname|     lname| salary|dept_id|average_salary|
+------+-----------+----------+-------+-------+--------------+
|   114|        Den|  Raphaely|11000.0|     30|        4150.0|
|   115|  Alexander|      Khoo| 3100.0|     30|        4150.0|
|   116|     Shelli|     Baida| 2900.0|     30|        4150.0|
|   117|      Sigal|    Tobias| 2800.0|     30|        4150.0|
|   118|        Guy|    Himuro| 2600.0|     30|        4150.0|
|   119|      Karen|Colmenares| 2500.0|     30|        4150.0|
|   205|    Shelley|   Higgins|12000.0|    110|       10150.0|
|   206|    William|     Gietz| 8300.0|    110|       10150.0|
|   108|      Nancy| Greenberg|12000.0|    100|        8600.0|
|   109|     Daniel|    Faviet| 9000.0|    100|        8600.0|
|   110|       John|      Chen| 8200.0|    100|        8600.0|
|   111|     Ismael|   Sciarra| 7700.0|    100|        8600.0|
|   112|Jose Manuel|     Urman| 7800.0|    100|        8600.0|
|   113|       Luis|      Popp| 6900.0|    100|        8600.0|
|   204|    Hermann|      Baer|10000.0|     70|       10000.0|
|   103|  Alexander|    Hunold| 9000.0|     60|        5760.0|
|   104|      Bruce|     Ernst| 6000.0|     60|        5760.0|
|   105|      David|    Austin| 4800.0|     60|        5760.0|
|   106|      Valli| Pataballa| 4800.0|     60|        5760.0|
|   107|      Diana|   Lorentz| 4200.0|     60|        5760.0|
+------+-----------+----------+-------+-------+--------------+
only showing top 20 rows

In [ ]:
>>> avgSalaryByDept = employees.\
...                     select('emp_id', 'fname', 'lname', 'salary', 'dept_id'). \
...                     withColumn('average_salary', round(avg('salary').over(spec), 2)). \
...                     where(col('average_salary') < employees.salary)

In [ ]:
>>> avgSalaryByDept.show()

+------+---------+---------+-------+-------+--------------+
|emp_id|    fname|    lname| salary|dept_id|average_salary|
+------+---------+---------+-------+-------+--------------+
|   114|      Den| Raphaely|11000.0|     30|        4150.0|
|   205|  Shelley|  Higgins|12000.0|    110|       10150.0|
|   108|    Nancy|Greenberg|12000.0|    100|        8600.0|
|   109|   Daniel|   Faviet| 9000.0|    100|        8600.0|
|   103|Alexander|   Hunold| 9000.0|     60|        5760.0|
|   104|    Bruce|    Ernst| 6000.0|     60|        5760.0|
|   100|   Steven|     King|24000.0|     90|      19333.33|
|   201|  Michael|Hartstein|13000.0|     20|        9500.0|
|   145|     John|  Russell|14000.0|     80|       8955.88|
|   146|    Karen| Partners|13500.0|     80|       8955.88|
|   147|  Alberto|Errazuriz|12000.0|     80|       8955.88|
|   148|   Gerald|Cambrault|11000.0|     80|       8955.88|
|   149|    Eleni|  Zlotkey|10500.0|     80|       8955.88|
|   150|    Peter|   Tucker|10000.0|     80|       8955.88|
|   151|    David|Bernstein| 9500.0|     80|       8955.88|
|   152|    Peter|     Hall| 9000.0|     80|       8955.88|
|   156|  Janette|     King|10000.0|     80|       8955.88|
|   157|  Patrick|    Sully| 9500.0|     80|       8955.88|
|   158|    Allan|   McEwen| 9000.0|     80|       8955.88|
|   162|    Clara|  Vishney|10500.0|     80|       8955.88|
+------+---------+---------+-------+-------+--------------+
only showing top 20 rows

In [ ]:
>>> avgSalaryByDept.show(50)

+------+---------+---------+-------+-------+--------------+
|emp_id|    fname|    lname| salary|dept_id|average_salary|
+------+---------+---------+-------+-------+--------------+
|   114|      Den| Raphaely|11000.0|     30|        4150.0|
|   205|  Shelley|  Higgins|12000.0|    110|       10150.0|
|   108|    Nancy|Greenberg|12000.0|    100|        8600.0|
|   109|   Daniel|   Faviet| 9000.0|    100|        8600.0|
|   103|Alexander|   Hunold| 9000.0|     60|        5760.0|
|   104|    Bruce|    Ernst| 6000.0|     60|        5760.0|
|   100|   Steven|     King|24000.0|     90|      19333.33|
|   201|  Michael|Hartstein|13000.0|     20|        9500.0|
|   145|     John|  Russell|14000.0|     80|       8955.88|
|   146|    Karen| Partners|13500.0|     80|       8955.88|
|   147|  Alberto|Errazuriz|12000.0|     80|       8955.88|
|   148|   Gerald|Cambrault|11000.0|     80|       8955.88|
|   149|    Eleni|  Zlotkey|10500.0|     80|       8955.88|
|   150|    Peter|   Tucker|10000.0|     80|       8955.88|
|   151|    David|Bernstein| 9500.0|     80|       8955.88|
|   152|    Peter|     Hall| 9000.0|     80|       8955.88|
|   156|  Janette|     King|10000.0|     80|       8955.88|
|   157|  Patrick|    Sully| 9500.0|     80|       8955.88|
|   158|    Allan|   McEwen| 9000.0|     80|       8955.88|
|   162|    Clara|  Vishney|10500.0|     80|       8955.88|
|   163| Danielle|   Greene| 9500.0|     80|       8955.88|
|   168|     Lisa|     Ozer|11500.0|     80|       8955.88|
|   169| Harrison|    Bloom|10000.0|     80|       8955.88|
|   170|   Tayler|      Fox| 9600.0|     80|       8955.88|
|   174|    Ellen|     Abel|11000.0|     80|       8955.88|
|   137|   Renske|   Ladwig| 3600.0|     50|       3475.56|
|   141|   Trenna|     Rajs| 3500.0|     50|       3475.56|
|   120|  Matthew|    Weiss| 8000.0|     50|       3475.56|
|   121|     Adam|    Fripp| 8200.0|     50|       3475.56|
|   122|    Payam| Kaufling| 7900.0|     50|       3475.56|
|   123|   Shanta|  Vollman| 6500.0|     50|       3475.56|
|   124|    Kevin|  Mourgos| 5800.0|     50|       3475.56|
|   184|  Nandita| Sarchand| 4200.0|     50|       3475.56|
|   185|   Alexis|     Bull| 4100.0|     50|       3475.56|
|   188|    Kelly|    Chung| 3800.0|     50|       3475.56|
|   189| Jennifer|    Dilly| 3600.0|     50|       3475.56|
|   192|    Sarah|     Bell| 4000.0|     50|       3475.56|
|   193|  Britney|  Everett| 3900.0|     50|       3475.56|
+------+---------+---------+-------+-------+--------------+

<p style="background :#d0d5db"><b>Solving using spark sql</b> </p>

In [ ]:
>>> employees.createOrReplaceTempView('empvw')

In [ ]:
>>> avgSalaryByDept_sql = spark.sql('select * from empvw')

In [ ]:
>>> avgSalaryByDept_sql.show(5)

+------+------+--------+--------+------------+----------+--------+------+-------+------+-------+
|emp_id| fname|   lname|   email|       phone|    hiredt|  job_id|salary|com_pct|mgr_id|dept_id|
+------+------+--------+--------+------------+----------+--------+------+-------+------+-------+
|   127| James|  Landry| JLANDRY|650.124.1334|1999-01-14|ST_CLERK|2400.0|   null|   120|     50|
|   128|Steven|  Markle| SMARKLE|650.124.1434|2000-03-08|ST_CLERK|2200.0|   null|   120|     50|
|   129| Laura|  Bissot| LBISSOT|650.124.5234|1997-08-20|ST_CLERK|3300.0|   null|   121|     50|
|   130| Mozhe|Atkinson|MATKINSO|650.124.6234|1997-10-30|ST_CLERK|2800.0|   null|   121|     50|
|   131| James|  Marlow| JAMRLOW|650.124.7234|1997-02-16|ST_CLERK|2500.0|   null|   121|     50|
+------+------+--------+--------+------------+----------+--------+------+-------+------+-------+
only showing top 5 rows

In [ ]:
>>> avgSalaryByDept_sql = spark.sql('''select emp_id,
...                                             fname,
...                                             lname,
...                                             email,
...                                             salary,
...                                             dept_id,
...                                             round(avg(salary) over(partition by dept_id), 2) as average_salary
...                                     from empvw ''')

In [ ]:
>>> avgSalaryByDept_sql.show(6)

+------+---------+----------+--------+-------+-------+--------------+
|emp_id|    fname|     lname|   email| salary|dept_id|average_salary|
+------+---------+----------+--------+-------+-------+--------------+
|   114|      Den|  Raphaely|DRAPHEAL|11000.0|     30|        4150.0|
|   115|Alexander|      Khoo|   AKHOO| 3100.0|     30|        4150.0|
|   116|   Shelli|     Baida|  SBAIDA| 2900.0|     30|        4150.0|
|   117|    Sigal|    Tobias| STOBIAS| 2800.0|     30|        4150.0|
|   118|      Guy|    Himuro| GHIMURO| 2600.0|     30|        4150.0|
|   119|    Karen|Colmenares|KCOLMENA| 2500.0|     30|        4150.0|
+------+---------+----------+--------+-------+-------+--------------+
only showing top 6 rows

In [ ]:
>>> avgSalaryByDept_sql.where(col('salary') > col('average_salary')).show()

+------+---------+---------+-------+-------+--------------+
|emp_id|    fname|    lname| salary|dept_id|average_salary|
+------+---------+---------+-------+-------+--------------+
|   114|      Den| Raphaely|11000.0|     30|        4150.0|
|   205|  Shelley|  Higgins|12000.0|    110|       10150.0|
|   108|    Nancy|Greenberg|12000.0|    100|        8600.0|
|   109|   Daniel|   Faviet| 9000.0|    100|        8600.0|
|   103|Alexander|   Hunold| 9000.0|     60|        5760.0|
|   104|    Bruce|    Ernst| 6000.0|     60|        5760.0|
|   100|   Steven|     King|24000.0|     90|      19333.33|
|   201|  Michael|Hartstein|13000.0|     20|        9500.0|
|   145|     John|  Russell|14000.0|     80|       8955.88|
|   146|    Karen| Partners|13500.0|     80|       8955.88|
|   147|  Alberto|Errazuriz|12000.0|     80|       8955.88|
|   148|   Gerald|Cambrault|11000.0|     80|       8955.88|
|   149|    Eleni|  Zlotkey|10500.0|     80|       8955.88|
|   150|    Peter|   Tucker|10000.0|     80|       8955.88|
|   151|    David|Bernstein| 9500.0|     80|       8955.88|
|   152|    Peter|     Hall| 9000.0|     80|       8955.88|
|   156|  Janette|     King|10000.0|     80|       8955.88|
|   157|  Patrick|    Sully| 9500.0|     80|       8955.88|
|   158|    Allan|   McEwen| 9000.0|     80|       8955.88|
|   162|    Clara|  Vishney|10500.0|     80|       8955.88|
+------+---------+---------+-------+-------+--------------+
only showing top 20 rows

In [ ]:
>>> avgSalaryByDept_sql.where(col('dept_id') == 30).show()

+------+---------+----------+-------+-------+--------------+
|emp_id|    fname|     lname| salary|dept_id|average_salary|
+------+---------+----------+-------+-------+--------------+
|   114|      Den|  Raphaely|11000.0|     30|        4150.0|
|   115|Alexander|      Khoo| 3100.0|     30|        4150.0|
|   116|   Shelli|     Baida| 2900.0|     30|        4150.0|
|   117|    Sigal|    Tobias| 2800.0|     30|        4150.0|
|   118|      Guy|    Himuro| 2600.0|     30|        4150.0|
|   119|    Karen|Colmenares| 2500.0|     30|        4150.0|
+------+---------+----------+-------+-------+--------------+

In [ ]:
>>> avgSalaryByDept_sql.where((col('salary') > col('average_salary')) & (col('dept_id') == 30)).show()

+------+-----+--------+-------+-------+--------------+
|emp_id|fname|   lname| salary|dept_id|average_salary|
+------+-----+--------+-------+-------+--------------+
|   114|  Den|Raphaely|11000.0|     30|        4150.0|
+------+-----+--------+-------+-------+--------------+

<p style="background:#F1C40F">Get the average revenue for each day and the details of orders like order_id and their total revenue, that have more revenue than the average.</p>

In [ ]:
>>> orders = spark.read. \
...             format('csv'). \
...             schema('''
...                     order_id int,
...                     order_date string,
...                     customer_id int,
...                     order_status string
...                     '''). \
...             load('/public/retail_db/orders')
>>> 
>>> orders.show(5)

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|
+--------+--------------------+-----------+---------------+
only showing top 5 rows

In [ ]:
>>> orderItems = spark.read. \
...                     format('csv'). \
...                     schema('''
...                             oi_item_id int,
...                             oi_order_id int,
...                             oi_product_id int,
...                             oi_qty int,
...                             oi_subtotal float,
...                             oi_product_price float
...                             '''). \
...                     load('/public/retail_db/order_items')
>>> orderItems.show(5)

+----------+-----------+-------------+------+-----------+----------------+
|oi_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+----------+-----------+-------------+------+-----------+----------------+
|         1|          1|          957|     1|     299.98|          299.98|
|         2|          2|         1073|     1|     199.99|          199.99|
|         3|          2|          502|     5|      250.0|            50.0|
|         4|          2|          403|     1|     129.99|          129.99|
|         5|          4|          897|     2|      49.98|           24.99|
+----------+-----------+-------------+------+-----------+----------------+
only showing top 5 rows

In [ ]:
>>> ordersJoin = orders.where('order_status in ("CLOSED", "COMPLETE")'). \
...                     join(orderItems, orders.order_id == orderItems.oi_order_id)
>>> ordersJoin.show()

+--------+--------------------+-----------+------------+----------+-----------+-------------+------+-----------+----------------+
|order_id|          order_date|customer_id|order_status|oi_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+--------+--------------------+-----------+------------+----------+-----------+-------------+------+-----------+----------------+
|       1|2013-07-25 00:00:...|      11599|      CLOSED|         1|          1|          957|     1|     299.98|          299.98|
|       4|2013-07-25 00:00:...|       8827|      CLOSED|         5|          4|          897|     2|      49.98|           24.99|
|       4|2013-07-25 00:00:...|       8827|      CLOSED|         6|          4|          365|     5|     299.95|           59.99|
|       4|2013-07-25 00:00:...|       8827|      CLOSED|         7|          4|          502|     3|      150.0|            50.0|
|       4|2013-07-25 00:00:...|       8827|      CLOSED|         8|          4|         1014|     4|     199.92|           49.98|
|       5|2013-07-25 00:00:...|      11318|    COMPLETE|         9|          5|          957|     1|     299.98|          299.98|
|       5|2013-07-25 00:00:...|      11318|    COMPLETE|        10|          5|          365|     5|     299.95|           59.99|
|       5|2013-07-25 00:00:...|      11318|    COMPLETE|        11|          5|         1014|     2|      99.96|           49.98|
|       5|2013-07-25 00:00:...|      11318|    COMPLETE|        12|          5|          957|     1|     299.98|          299.98|
|       5|2013-07-25 00:00:...|      11318|    COMPLETE|        13|          5|          403|     1|     129.99|          129.99|
|       7|2013-07-25 00:00:...|       4530|    COMPLETE|        14|          7|         1073|     1|     199.99|          199.99|
|       7|2013-07-25 00:00:...|       4530|    COMPLETE|        15|          7|          957|     1|     299.98|          299.98|
|       7|2013-07-25 00:00:...|       4530|    COMPLETE|        16|          7|          926|     5|      79.95|           15.99|
|      12|2013-07-25 00:00:...|       1837|      CLOSED|        34|         12|          957|     1|     299.98|          299.98|
|      12|2013-07-25 00:00:...|       1837|      CLOSED|        35|         12|          134|     4|      100.0|            25.0|
|      12|2013-07-25 00:00:...|       1837|      CLOSED|        36|         12|         1014|     3|     149.94|           49.98|
|      12|2013-07-25 00:00:...|       1837|      CLOSED|        37|         12|          191|     5|     499.95|           99.99|
|      12|2013-07-25 00:00:...|       1837|      CLOSED|        38|         12|          502|     5|      250.0|            50.0|
|      15|2013-07-25 00:00:...|       2568|    COMPLETE|        43|         15|          502|     1|       50.0|            50.0|
|      15|2013-07-25 00:00:...|       2568|    COMPLETE|        44|         15|         1073|     1|     199.99|          199.99|
+--------+--------------------+-----------+------------+----------+-----------+-------------+------+-----------+----------------+
only showing top 20 rows

In [ ]:
>>> from pyspark.sql.functions import *
>>> from pyspark.sql.window import *

In [ ]:
>>> spec = Window.partitionBy(ordersJoin.order_date)

In [ ]:
>>> dailyRevenue = ordersJoin. \
...                     select('order_id', 'order_date', 'oi_subtotal'). \
...                     withColumn('avg_revenue', round(avg('oi_subtotal').over(spec), 2)). \
...                     withColumn('total_revenue', round(sum('oi_subtotal').over(Window.partitionBy('order_id', 'order_date')), 2))

In [ ]:
>>> dailyRevenue.show()

+--------+--------------------+-----------+-----------+-------------+
|order_id|          order_date|oi_subtotal|avg_revenue|total_revenue|
+--------+--------------------+-----------+-----------+-------------+
|    3379|2013-08-13 00:00:...|     299.98|     199.52|       499.97|
|    3379|2013-08-13 00:00:...|     199.99|     199.52|       499.97|
|    3380|2013-08-13 00:00:...|     129.99|     199.52|       579.95|
|    3380|2013-08-13 00:00:...|     119.98|     199.52|       579.95|
|    3380|2013-08-13 00:00:...|     199.99|     199.52|       579.95|
|    3380|2013-08-13 00:00:...|     129.99|     199.52|       579.95|
|    3385|2013-08-13 00:00:...|      39.99|     199.52|        649.9|
|    3385|2013-08-13 00:00:...|     149.94|     199.52|        649.9|
|    3385|2013-08-13 00:00:...|      59.99|     199.52|        649.9|
|    3385|2013-08-13 00:00:...|     399.98|     199.52|        649.9|
|    3387|2013-08-13 00:00:...|      200.0|     199.52|       809.96|
|    3387|2013-08-13 00:00:...|     299.97|     199.52|       809.96|
|    3387|2013-08-13 00:00:...|      59.99|     199.52|       809.96|
|    3387|2013-08-13 00:00:...|      250.0|     199.52|       809.96|
|    3389|2013-08-13 00:00:...|     199.95|     199.52|       199.95|
|    3390|2013-08-13 00:00:...|     299.97|     199.52|      1199.83|
|    3390|2013-08-13 00:00:...|     399.96|     199.52|      1199.83|
|    3390|2013-08-13 00:00:...|     299.98|     199.52|      1199.83|
|    3390|2013-08-13 00:00:...|     199.92|     199.52|      1199.83|
|    3392|2013-08-13 00:00:...|     299.98|     199.52|       669.93|
+--------+--------------------+-----------+-----------+-------------+
only showing top 20 rows

In [ ]:
>>> dailyRevenue.where('total_revenue > avg_revenue').show()

+--------+--------------------+-----------+-----------+-------------+
|order_id|          order_date|oi_subtotal|avg_revenue|total_revenue|
+--------+--------------------+-----------+-----------+-------------+
|    3379|2013-08-13 00:00:...|     299.98|     199.52|       499.97|
|    3379|2013-08-13 00:00:...|     199.99|     199.52|       499.97|
|    3380|2013-08-13 00:00:...|     129.99|     199.52|       579.95|
|    3380|2013-08-13 00:00:...|     119.98|     199.52|       579.95|
|    3380|2013-08-13 00:00:...|     199.99|     199.52|       579.95|
|    3380|2013-08-13 00:00:...|     129.99|     199.52|       579.95|
|    3385|2013-08-13 00:00:...|      39.99|     199.52|        649.9|
|    3385|2013-08-13 00:00:...|     149.94|     199.52|        649.9|
|    3385|2013-08-13 00:00:...|      59.99|     199.52|        649.9|
|    3385|2013-08-13 00:00:...|     399.98|     199.52|        649.9|
|    3387|2013-08-13 00:00:...|      200.0|     199.52|       809.96|
|    3387|2013-08-13 00:00:...|     299.97|     199.52|       809.96|
|    3387|2013-08-13 00:00:...|      59.99|     199.52|       809.96|
|    3387|2013-08-13 00:00:...|      250.0|     199.52|       809.96|
|    3389|2013-08-13 00:00:...|     199.95|     199.52|       199.95|
|    3390|2013-08-13 00:00:...|     299.97|     199.52|      1199.83|
|    3390|2013-08-13 00:00:...|     399.96|     199.52|      1199.83|
|    3390|2013-08-13 00:00:...|     299.98|     199.52|      1199.83|
|    3390|2013-08-13 00:00:...|     199.92|     199.52|      1199.83|
|    3392|2013-08-13 00:00:...|     299.98|     199.52|       669.93|
+--------+--------------------+-----------+-----------+-------------+
only showing top 20 rows

In [ ]:
>>> dailyRevenue.where('total_revenue > avg_revenue and order_id = 3390').show()

+--------+--------------------+-----------+-----------+-------------+
|order_id|          order_date|oi_subtotal|avg_revenue|total_revenue|
+--------+--------------------+-----------+-----------+-------------+
|    3390|2013-08-13 00:00:...|     299.97|     199.52|      1199.83|
|    3390|2013-08-13 00:00:...|     399.96|     199.52|      1199.83|
|    3390|2013-08-13 00:00:...|     299.98|     199.52|      1199.83|
|    3390|2013-08-13 00:00:...|     199.92|     199.52|      1199.83|
+--------+--------------------+-----------+-----------+-------------+

<p style="background:#F1C40F">Get the highest order revenue and the details of the orders that have more than 75% of the revenue .</p>

<p style="background:#AED6F1"><b>Data Frame Operations - Time Series Functions such as Lead, Lag etc</b>

<p style="background :#d0d5db"><b>Lead Windowing Function example : </b> <br>Getting Employee details like<br>
 - emp_id, department_id, salary, next_emp_id, next_emp_salary. (next_emp_id -> second_highest_grosser, next_emp_salary -> second highest salary)<br>
 - Difference between highest and second highest salaries.</p>

In [ ]:
>>> employeesDF = spark.read. \
...                      format('csv'). \
...                      option('sep', '\t'). \
...                      schema('''emp_id int,
...                              fname string,
...                              lname string,
...                              email string,
...                              phone string,
...                              hiredt string,
...                              job_id string,
...                              salary float,
...                              commission_pct string,
...                              manager_id string,
...                              department_id int'''). \
...                      load('/user/monahadoop/hr_db/employees')  
>>> 
>>> employeesDF.show(5)

+------+------+--------+--------+------------+----------+--------+------+--------------+----------+-------------+
|emp_id| fname|   lname|   email|       phone|    hiredt|  job_id|salary|commission_pct|manager_id|department_id|
+------+------+--------+--------+------------+----------+--------+------+--------------+----------+-------------+
|   127| James|  Landry| JLANDRY|650.124.1334|1999-01-14|ST_CLERK|2400.0|          null|       120|           50|
|   128|Steven|  Markle| SMARKLE|650.124.1434|2000-03-08|ST_CLERK|2200.0|          null|       120|           50|
|   129| Laura|  Bissot| LBISSOT|650.124.5234|1997-08-20|ST_CLERK|3300.0|          null|       121|           50|
|   130| Mozhe|Atkinson|MATKINSO|650.124.6234|1997-10-30|ST_CLERK|2800.0|          null|       121|           50|
|   131| James|  Marlow| JAMRLOW|650.124.7234|1997-02-16|ST_CLERK|2500.0|          null|       121|           50|
+------+------+--------+--------+------------+----------+--------+------+--------------+----------+-------------+
only showing top 5 rows

In [ ]:
>>> from pyspark.sql.window import *

In [ ]:
>>> spark.conf.set('spark.sql.shuffle.partitions', '2')

In [ ]:
>>> employeesDF = employeesDF.select('emp_id', 'department_id', 'salary')

In [ ]:
>>> employeesDF.show()

+------+-------------+-------+
|emp_id|department_id| salary|
+------+-------------+-------+
|   127|           50| 2400.0|
|   128|           50| 2200.0|
|   129|           50| 3300.0|
|   130|           50| 2800.0|
|   131|           50| 2500.0|
|   132|           50| 2100.0|
|   133|           50| 3300.0|
|   134|           50| 2900.0|
|   135|           50| 2400.0|
|   136|           50| 2200.0|
|   137|           50| 3600.0|
|   138|           50| 3200.0|
|   139|           50| 2700.0|
|   140|           50| 2500.0|
|   141|           50| 3500.0|
|   142|           50| 3100.0|
|   143|           50| 2600.0|
|   144|           50| 2500.0|
|   145|           80|14000.0|
|   146|           80|13500.0|
+------+-------------+-------+
only showing top 20 rows

In [ ]:
>>> employeesDF = employeesDF.select('emp_id', 'department_id', 'salary').sort('department_id')

In [ ]:
>>> employeesDF.show()

+------+-------------+-------+
|emp_id|department_id| salary|
+------+-------------+-------+
|  null|         null|   null|
|   200|           10| 4400.0|
|   201|           20|13000.0|
|   202|           20| 6000.0|
|   115|           30| 3100.0|
|   117|           30| 2800.0|
|   119|           30| 2500.0|
|   116|           30| 2900.0|
|   118|           30| 2600.0|
|   114|           30|11000.0|
|   203|           40| 6500.0|
|   129|           50| 3300.0|
|   135|           50| 2400.0|
|   128|           50| 2200.0|
|   136|           50| 2200.0|
|   131|           50| 2500.0|
|   132|           50| 2100.0|
|   137|           50| 3600.0|
|   138|           50| 3200.0|
|   139|           50| 2700.0|
+------+-------------+-------+
only showing top 20 rows

In [ ]:
>>> spec = Window.\
...             partitionBy('department_id'). \
...             orderBy(employeesDF.salary.desc())

In [ ]:
>>> from pyspark.sql.functions import *

In [ ]:
>>> employeesDF = employeesDF.select('emp_id', 'department_id', 'salary'). \
...                     withColumn('next_emp_id', lead('emp_id').over(spec)). \
...                     sort('department_id', employeesDF.salary.desc())
>>>employeesDF.show()

+------+-------------+-------+-----------+
|emp_id|department_id| salary|next_emp_id|
+------+-------------+-------+-----------+
|  null|         null|   null|       null|
|   200|           10| 4400.0|       null|
|   201|           20|13000.0|        202|
|   202|           20| 6000.0|       null|
|   114|           30|11000.0|        115|
|   115|           30| 3100.0|        116|
|   116|           30| 2900.0|        117|
|   117|           30| 2800.0|        118|
|   118|           30| 2600.0|        119|
|   119|           30| 2500.0|       null|
|   203|           40| 6500.0|       null|
|   121|           50| 8200.0|        120|
|   120|           50| 8000.0|        122|
|   122|           50| 7900.0|        123|
|   123|           50| 6500.0|        124|
|   124|           50| 5800.0|        184|
|   184|           50| 4200.0|        185|
|   185|           50| 4100.0|        192|
|   192|           50| 4000.0|        193|
|   193|           50| 3900.0|        188|
+------+-------------+-------+-----------+
only showing top 20 rows

In [ ]:
>>> employeesDF = employeesDF.select('emp_id', 'department_id', 'salary'). \
...                     withColumn('next_highest_grosser', lead('emp_id').over(spec)). \
...                     withColumn('next_highest_salary', lead('salary').over(spec)). \
...                     sort('department_id', employeesDF.salary.desc())

In [ ]:
>>> employeesDF.show()

+------+-------------+-------+--------------------+-------------------+
|emp_id|department_id| salary|next_highest_grosser|next_highest_salary|
+------+-------------+-------+--------------------+-------------------+
|  null|         null|   null|                null|               null|
|   200|           10| 4400.0|                null|               null|
|   201|           20|13000.0|                 202|             6000.0|
|   202|           20| 6000.0|                null|               null|
|   114|           30|11000.0|                 115|             3100.0|
|   115|           30| 3100.0|                 116|             2900.0|
|   116|           30| 2900.0|                 117|             2800.0|
|   117|           30| 2800.0|                 118|             2600.0|
|   118|           30| 2600.0|                 119|             2500.0|
|   119|           30| 2500.0|                null|               null|
|   203|           40| 6500.0|                null|               null|
|   121|           50| 8200.0|                 120|             8000.0|
|   120|           50| 8000.0|                 122|             7900.0|
|   122|           50| 7900.0|                 123|             6500.0|
|   123|           50| 6500.0|                 124|             5800.0|
|   124|           50| 5800.0|                 184|             4200.0|
|   184|           50| 4200.0|                 185|             4100.0|
|   185|           50| 4100.0|                 192|             4000.0|
|   192|           50| 4000.0|                 193|             3900.0|
|   193|           50| 3900.0|                 188|             3800.0|
+------+-------------+-------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
>>> employeesDF = employeesDF.select('emp_id', 'department_id', 'salary'). \
...                     withColumn('next_highest_grosser', lead('emp_id').over(spec)). \
...                     withColumn('next_highest_salary', lead('salary').over(spec)). \
...                     withColumn('salary_difference', employeesDF.salary - col('next_highest_salary')). \
...                     sort('department_id', employeesDF.salary.desc())

In [ ]:
>>> employeesDF.show()

+------+-------------+-------+--------------------+-------------------+-----------------+
|emp_id|department_id| salary|next_highest_grosser|next_highest_salary|salary_difference|
+------+-------------+-------+--------------------+-------------------+-----------------+
|  null|         null|   null|                null|               null|             null|
|   200|           10| 4400.0|                null|               null|             null|
|   201|           20|13000.0|                 202|             6000.0|           7000.0|
|   202|           20| 6000.0|                null|               null|             null|
|   114|           30|11000.0|                 115|             3100.0|           7900.0|
|   115|           30| 3100.0|                 116|             2900.0|            200.0|
|   116|           30| 2900.0|                 117|             2800.0|            100.0|
|   117|           30| 2800.0|                 118|             2600.0|            200.0|
|   118|           30| 2600.0|                 119|             2500.0|            100.0|
|   119|           30| 2500.0|                null|               null|             null|
|   203|           40| 6500.0|                null|               null|             null|
|   121|           50| 8200.0|                 120|             8000.0|            200.0|
|   120|           50| 8000.0|                 122|             7900.0|            100.0|
|   122|           50| 7900.0|                 123|             6500.0|           1400.0|
|   123|           50| 6500.0|                 124|             5800.0|            700.0|
|   124|           50| 5800.0|                 184|             4200.0|           1600.0|
|   184|           50| 4200.0|                 185|             4100.0|            100.0|
|   185|           50| 4100.0|                 192|             4000.0|            100.0|
|   192|           50| 4000.0|                 193|             3900.0|            100.0|
|   193|           50| 3900.0|                 188|             3800.0|            100.0|
+------+-------------+-------+--------------------+-------------------+-----------------+
only showing top 20 rows

<p style="background :#d0d5db"><b>Using Lead Windowing Function : </b> To find next to next highest salary</p>

In [ ]:
>>> employeesDF = employeesDF.select('emp_id', 'department_id', 'salary'). \
...                      withColumn('next_to_next_highest_grosser', lead('emp_id', 2).over(spec)). \
...                      withColumn('next_to_next_highest_salary', lead('salary', 2).over(spec)). \
...                      sort('department_id', employeesDF.salary.desc())

In [ ]:
>>> employeesDF.show()

+------+-------------+-------+----------------------------+---------------------------+
|emp_id|department_id| salary|next_to_next_highest_grosser|next_to_next_highest_salary|
+------+-------------+-------+----------------------------+---------------------------+
|  null|         null|   null|                        null|                       null|
|   200|           10| 4400.0|                        null|                       null|
|   201|           20|13000.0|                        null|                       null|
|   202|           20| 6000.0|                        null|                       null|
|   114|           30|11000.0|                         116|                     2900.0|
|   115|           30| 3100.0|                         117|                     2800.0|
|   116|           30| 2900.0|                         118|                     2600.0|
|   117|           30| 2800.0|                         119|                     2500.0|
|   118|           30| 2600.0|                        null|                       null|
|   119|           30| 2500.0|                        null|                       null|
|   203|           40| 6500.0|                        null|                       null|
|   121|           50| 8200.0|                         122|                     7900.0|
|   120|           50| 8000.0|                         123|                     6500.0|
|   122|           50| 7900.0|                         124|                     5800.0|
|   123|           50| 6500.0|                         184|                     4200.0|
|   124|           50| 5800.0|                         185|                     4100.0|
|   184|           50| 4200.0|                         192|                     4000.0|
|   185|           50| 4100.0|                         193|                     3900.0|
|   192|           50| 4000.0|                         188|                     3800.0|
|   193|           50| 3900.0|                         137|                     3600.0|
+------+-------------+-------+----------------------------+---------------------------+
only showing top 20 rows

<p style="background:#AED6F1"><b>Exercises</b></p>

<p style="background:#F1C40F">Get the salary difference between current and previous employee within each department.</p>

<p style="background :#d0d5db"><b>Using Lag Windowing Function : </b></p>

In [ ]:
>>> employeesLag = employeesDF.select('emp_id', 'department_id', 'salary'). \
...                      withColumn('prev_emp', lag('emp_id').over(spec)). \
...                      withColumn('prev_salary', lag('salary').over(spec)). \
...                      sort('department_id', employeesDF.salary.desc())

In [ ]:
>>> employeesLag.show()

+------+-------------+-------+--------+-----------+
|emp_id|department_id| salary|prev_emp|prev_salary|
+------+-------------+-------+--------+-----------+
|  null|         null|   null|    null|       null|
|   200|           10| 4400.0|    null|       null|
|   201|           20|13000.0|    null|       null|
|   202|           20| 6000.0|     201|    13000.0|
|   114|           30|11000.0|    null|       null|
|   115|           30| 3100.0|     114|    11000.0|
|   116|           30| 2900.0|     115|     3100.0|
|   117|           30| 2800.0|     116|     2900.0|
|   118|           30| 2600.0|     117|     2800.0|
|   119|           30| 2500.0|     118|     2600.0|
|   203|           40| 6500.0|    null|       null|
|   121|           50| 8200.0|    null|       null|
|   120|           50| 8000.0|     121|     8200.0|
|   122|           50| 7900.0|     120|     8000.0|
|   123|           50| 6500.0|     122|     7900.0|
|   124|           50| 5800.0|     123|     6500.0|
|   184|           50| 4200.0|     124|     5800.0|
|   185|           50| 4100.0|     184|     4200.0|
|   192|           50| 4000.0|     185|     4100.0|
|   193|           50| 3900.0|     192|     4000.0|
+------+-------------+-------+--------+-----------+
only showing top 20 rows

In [ ]:
>>> employeesLag = employeesDF.select('emp_id', 'department_id', 'salary'). \
...                      withColumn('prev_to_prev_emp', lag('emp_id', 2).over(spec)). \
...                      withColumn('prev_to_prev_salary', lag('salary', 2).over(spec)). \
...                      sort('department_id', employeesDF.salary.desc())

In [ ]:
>>> employeesLag.show()

+------+-------------+-------+----------------+-------------------+
|emp_id|department_id| salary|prev_to_prev_emp|prev_to_prev_salary|
+------+-------------+-------+----------------+-------------------+
|  null|         null|   null|            null|               null|
|   200|           10| 4400.0|            null|               null|
|   201|           20|13000.0|            null|               null|
|   202|           20| 6000.0|            null|               null|
|   114|           30|11000.0|            null|               null|
|   115|           30| 3100.0|            null|               null|
|   116|           30| 2900.0|             114|            11000.0|
|   117|           30| 2800.0|             115|             3100.0|
|   118|           30| 2600.0|             116|             2900.0|
|   119|           30| 2500.0|             117|             2800.0|
|   203|           40| 6500.0|            null|               null|
|   121|           50| 8200.0|            null|               null|
|   120|           50| 8000.0|            null|               null|
|   122|           50| 7900.0|             121|             8200.0|
|   123|           50| 6500.0|             120|             8000.0|
|   124|           50| 5800.0|             122|             7900.0|
|   184|           50| 4200.0|             123|             6500.0|
|   185|           50| 4100.0|             124|             5800.0|
|   192|           50| 4000.0|             184|             4200.0|
|   193|           50| 3900.0|             185|             4100.0|
+------+-------------+-------+----------------+-------------------+
only showing top 20 rows

<p style="background :#d0d5db"><b>Using Last Windowing Function : </b></p>

To find the department-wise last salary (in this case least too need to check if last always means least or last in the order)->
* last doesn't run normally like lead, lag and first
* a rangeBetween clause needs to set in the Window specification, which takes pre-set values named unboundedPreceding and unboundedFollowing, then the last() works as desired, here in this case givng last salary of each department.

In [ ]:
>>> employeesDF = spark.read. \
...                      format('csv'). \
...                      option('sep', '\t'). \
...                      schema('''emp_id int,
...                              fname string,
...                              lname string,
...                              email string,
...                              phone string,
...                              hiredt string,
...                              job_id string,
...                              salary float,
...                              commission_pct string,
...                              manager_id string,
...                              department_id int'''). \
...                      load('/user/monahadoop/hr_db/employees')  
>>> 
>>> employeesDF.show(5)

In [ ]:
>>> spec = Window.partitionBy('department_id'). \
...             orderBy(employeesDF.salary.desc()). \
...             rangeBetween(Window.unboundedPreceding, Window.unboundedFollowing)

In [ ]:
>>> employeesLast = employeesDF.select('emp_id', 'department_id', 'salary'). \
...                             withColumn('last_salary', last(employeesDF.salary, False).over(spec)).\
...                             orderBy(employeesDF.department_id, employeesDF.salary.desc())

In [ ]:
>>> employeesLast.show()

+------+-------------+-------+-----------+
|emp_id|department_id| salary|last_salary|
+------+-------------+-------+-----------+
|  null|         null|   null|       null|
|   200|           10| 4400.0|     4400.0|
|   201|           20|13000.0|     6000.0|
|   202|           20| 6000.0|     6000.0|
|   114|           30|11000.0|     2500.0|
|   115|           30| 3100.0|     2500.0|
|   116|           30| 2900.0|     2500.0|
|   117|           30| 2800.0|     2500.0|
|   118|           30| 2600.0|     2500.0|
|   119|           30| 2500.0|     2500.0|
|   203|           40| 6500.0|     6500.0|
|   121|           50| 8200.0|     2100.0|
|   120|           50| 8000.0|     2100.0|
|   122|           50| 7900.0|     2100.0|
|   123|           50| 6500.0|     2100.0|
|   124|           50| 5800.0|     2100.0|
|   184|           50| 4200.0|     2100.0|
|   185|           50| 4100.0|     2100.0|
|   192|           50| 4000.0|     2100.0|
|   193|           50| 3900.0|     2100.0|
+------+-------------+-------+-----------+
only showing top 20 rows

<p style="background:#F1C40F">Time Series - Revenue comparison between two windows.</p>

<p style="background:#FA8072;border-style:solid;"><b>TO BE DONE</b></p>

<p style="background:#AED6F1"><b>Data Frame Operations - Ranking Functions - rank, dense_rank, row_number etc</b>

In Ranking functions data is partitioned by a key (such as department id) and then sorted by some other key (such as salary).
* Ranking functions are - rank, dense_rank, row_number etc.
* In spark we need to create a WindowSpec object using partitionBy and orderBy for most of the ranking functions.
* Some use cases are -
    - Assign rank to employees based on salary within each department.
    - Assign ranks to products based on revenue each day or month.

In [ ]:
>>> employees = spark.read. \
...                      format('csv'). \
...                      option('sep', '\t'). \
...                      schema('''emp_id int,
...                              fname string,
...                              lname string,
...                              email string,
...                              phone string,
...                              hiredt string,
...                              job_id string,
...                              salary float,
...                              commission_pct string,
...                              manager_id string,
...                              department_id int'''). \
...                      load('/user/monahadoop/hr_db/employees') 

>>> employees.show()

+------+-------+----------+--------+------------------+----------+--------+-------+--------------+----------+-------------+
|emp_id|  fname|     lname|   email|             phone|    hiredt|  job_id| salary|commission_pct|manager_id|department_id|
+------+-------+----------+--------+------------------+----------+--------+-------+--------------+----------+-------------+
|   127|  James|    Landry| JLANDRY|      650.124.1334|1999-01-14|ST_CLERK| 2400.0|          null|       120|           50|
|   128| Steven|    Markle| SMARKLE|      650.124.1434|2000-03-08|ST_CLERK| 2200.0|          null|       120|           50|
|   129|  Laura|    Bissot| LBISSOT|      650.124.5234|1997-08-20|ST_CLERK| 3300.0|          null|       121|           50|
|   130|  Mozhe|  Atkinson|MATKINSO|      650.124.6234|1997-10-30|ST_CLERK| 2800.0|          null|       121|           50|
|   131|  James|    Marlow| JAMRLOW|      650.124.7234|1997-02-16|ST_CLERK| 2500.0|          null|       121|           50|
|   132|     TJ|     Olson| TJOLSON|      650.124.8234|1999-04-10|ST_CLERK| 2100.0|          null|       121|           50|
|   133|  Jason|    Mallin| JMALLIN|      650.127.1934|1996-06-14|ST_CLERK| 3300.0|          null|       122|           50|
|   134|Michael|    Rogers| MROGERS|      650.127.1834|1998-08-26|ST_CLERK| 2900.0|          null|       122|           50|
|   135|     Ki|       Gee|    KGEE|      650.127.1734|1999-12-12|ST_CLERK| 2400.0|          null|       122|           50|
|   136|  Hazel|Philtanker|HPHILTAN|      650.127.1634|2000-02-06|ST_CLERK| 2200.0|          null|       122|           50|
|   137| Renske|    Ladwig| RLADWIG|      650.121.1234|1995-07-14|ST_CLERK| 3600.0|          null|       123|           50|
|   138|Stephen|    Stiles| SSTILES|      650.121.2034|1997-10-26|ST_CLERK| 3200.0|          null|       123|           50|
|   139|   John|       Seo|    JSEO|      650.121.2019|1998-02-12|ST_CLERK| 2700.0|          null|       123|           50|
|   140| Joshua|     Patel|  JPATEL|      650.121.1834|1998-04-06|ST_CLERK| 2500.0|          null|       123|           50|
|   141| Trenna|      Rajs|   TRAJS|      650.121.8009|1995-10-17|ST_CLERK| 3500.0|          null|       124|           50|
|   142| Curtis|    Davies| CDAVIES|      650.121.2994|1997-01-29|ST_CLERK| 3100.0|          null|       124|           50|
|   143|Randall|     Matos|  RMATOS|      650.121.2874|1998-03-15|ST_CLERK| 2600.0|          null|       124|           50|
|   144|  Peter|    Vargas| PVARGAS|      650.121.2004|1998-07-09|ST_CLERK| 2500.0|          null|       124|           50|
|   145|   John|   Russell| JRUSSEL|011.44.1344.429268|1996-10-01|  SA_MAN|14000.0|          0.40|       100|           80|
|   146|  Karen|  Partners|KPARTNER|011.44.1344.467268|1997-01-05|  SA_MAN|13500.0|          0.30|       100|           80|
+------+-------+----------+--------+------------------+----------+--------+-------+--------------+----------+-------------+
only showing top 20 rows

In [ ]:
>>> employees = employees.select('emp_id', 'department_id', 'salary'). \
...                     orderBy('department_id', employees.salary.desc())

In [ ]:
>>> employees.show()

+------+-------------+-------+
|emp_id|department_id| salary|
+------+-------------+-------+
|  null|         null|   null|
|   200|           10| 4400.0|
|   201|           20|13000.0|
|   202|           20| 6000.0|
|   114|           30|11000.0|
|   115|           30| 3100.0|
|   116|           30| 2900.0|
|   117|           30| 2800.0|
|   118|           30| 2600.0|
|   119|           30| 2500.0|
|   203|           40| 6500.0|
|   121|           50| 8200.0|
|   120|           50| 8000.0|
|   122|           50| 7900.0|
|   123|           50| 6500.0|
|   124|           50| 5800.0|
|   184|           50| 4200.0|
|   185|           50| 4100.0|
|   192|           50| 4000.0|
|   193|           50| 3900.0|
+------+-------------+-------+
only showing top 20 rows

In [ ]:
>>> from pyspark.sql.window import *

In [ ]:
>>> from pyspark.sql.functions import *

In [ ]:
>>> spec = Window.partitionBy('department_id').\
...             orderBy(employees.salary.desc())

<p style="background :#d0d5db"><b>Using rank() Function : </b></p>

In [ ]:
>>> employees. \
...     withColumn('emp_rank', rank().over(spec)). \
...     orderBy('department_id', employees.salary.desc()).\
...     show()

+------+-------------+-------+--------+
|emp_id|department_id| salary|emp_rank|
+------+-------------+-------+--------+
|  null|         null|   null|       1|
|   200|           10| 4400.0|       1|
|   201|           20|13000.0|       1|
|   202|           20| 6000.0|       2|
|   114|           30|11000.0|       1|
|   115|           30| 3100.0|       2|
|   116|           30| 2900.0|       3|
|   117|           30| 2800.0|       4|
|   118|           30| 2600.0|       5|
|   119|           30| 2500.0|       6|
|   203|           40| 6500.0|       1|
|   121|           50| 8200.0|       1|
|   120|           50| 8000.0|       2|
|   122|           50| 7900.0|       3|
|   123|           50| 6500.0|       4|
|   124|           50| 5800.0|       5|
|   184|           50| 4200.0|       6|
|   185|           50| 4100.0|       7|
|   192|           50| 4000.0|       8|
|   193|           50| 3900.0|       9|
+------+-------------+-------+--------+
only showing top 20 rows

<p style="background :#d0d5db"><b>Using dense_rank() Function : </b></p>

In [ ]:
>>> employees. \
...     withColumn('emp_rank', dense_rank().over(spec)). \
...     orderBy('department_id', employees.salary.desc()).\
...     show(200)

+------+-------------+-------+--------+
|emp_id|department_id| salary|emp_rank|
+------+-------------+-------+--------+
|  null|         null|   null|       1|
|   200|           10| 4400.0|       1|
|   201|           20|13000.0|       1|
|   202|           20| 6000.0|       2|
|   114|           30|11000.0|       1|
|   115|           30| 3100.0|       2|
|   116|           30| 2900.0|       3|
|   117|           30| 2800.0|       4|
|   118|           30| 2600.0|       5|
|   119|           30| 2500.0|       6|
|   203|           40| 6500.0|       1|
|   121|           50| 8200.0|       1|
|   120|           50| 8000.0|       2|
|   122|           50| 7900.0|       3|
|   123|           50| 6500.0|       4|
|   124|           50| 5800.0|       5|
|   184|           50| 4200.0|       6|
|   185|           50| 4100.0|       7|
|   192|           50| 4000.0|       8|
|   193|           50| 3900.0|       9|
|   188|           50| 3800.0|      10|
|   189|           50| 3600.0|      11|
|   137|           50| 3600.0|      11|
|   141|           50| 3500.0|      12|
|   186|           50| 3400.0|      13|
|   129|           50| 3300.0|      14|
|   133|           50| 3300.0|      14|
|   194|           50| 3200.0|      15|
|   180|           50| 3200.0|      15|
|   138|           50| 3200.0|      15|
|   125|           50| 3200.0|      15|
|   196|           50| 3100.0|      16|
|   142|           50| 3100.0|      16|
|   181|           50| 3100.0|      16|
|   187|           50| 3000.0|      17|
|   197|           50| 3000.0|      17|
|   134|           50| 2900.0|      18|
|   190|           50| 2900.0|      18|
|   195|           50| 2800.0|      19|
|   130|           50| 2800.0|      19|
|   183|           50| 2800.0|      19|
|   139|           50| 2700.0|      20|
|   126|           50| 2700.0|      20|
|   199|           50| 2600.0|      21|
|   198|           50| 2600.0|      21|
|   143|           50| 2600.0|      21|
|   191|           50| 2500.0|      22|
|   182|           50| 2500.0|      22|
|   144|           50| 2500.0|      22|
|   140|           50| 2500.0|      22|
|   131|           50| 2500.0|      22|
|   127|           50| 2400.0|      23|
|   135|           50| 2400.0|      23|
|   128|           50| 2200.0|      24|
|   136|           50| 2200.0|      24|
|   132|           50| 2100.0|      25|
|   103|           60| 9000.0|       1|
|   104|           60| 6000.0|       2|
|   106|           60| 4800.0|       3|
|   105|           60| 4800.0|       3|
.
.
.
|   206|          110| 8300.0|       2|
+------+-------------+-------+--------+

<p style="background :#d0d5db"><b>Using row_number() Function : </b></p>

In [ ]:
>>> employees. \
...     withColumn('emp_rank', rank().over(spec)). \
...     withColumn('emp_denserank', dense_rank().over(spec)). \
...     withColumn('emp_num', row_number().over(spec)). \
...     orderBy('department_id', employees.salary.desc()).\
...     show(200)

+------+-------------+-------+--------+-------------+-------+
|emp_id|department_id| salary|emp_rank|emp_denserank|emp_num|
+------+-------------+-------+--------+-------------+-------+
|  null|         null|   null|       1|            1|      1|
|   200|           10| 4400.0|       1|            1|      1|
|   201|           20|13000.0|       1|            1|      1|
|   202|           20| 6000.0|       2|            2|      2|
|   114|           30|11000.0|       1|            1|      1|
|   115|           30| 3100.0|       2|            2|      2|
|   116|           30| 2900.0|       3|            3|      3|
|   117|           30| 2800.0|       4|            4|      4|
|   118|           30| 2600.0|       5|            5|      5|
|   119|           30| 2500.0|       6|            6|      6|
|   203|           40| 6500.0|       1|            1|      1|
|   121|           50| 8200.0|       1|            1|      1|
|   120|           50| 8000.0|       2|            2|      2|
|   122|           50| 7900.0|       3|            3|      3|
|   123|           50| 6500.0|       4|            4|      4|
|   124|           50| 5800.0|       5|            5|      5|
|   184|           50| 4200.0|       6|            6|      6|
|   185|           50| 4100.0|       7|            7|      7|
|   192|           50| 4000.0|       8|            8|      8|
|   193|           50| 3900.0|       9|            9|      9|
|   188|           50| 3800.0|      10|           10|     10|
|   189|           50| 3600.0|      11|           11|     12|
|   137|           50| 3600.0|      11|           11|     11|
|   141|           50| 3500.0|      13|           12|     13|
|   186|           50| 3400.0|      14|           13|     14|
|   129|           50| 3300.0|      15|           14|     15|
|   133|           50| 3300.0|      15|           14|     16|
|   194|           50| 3200.0|      17|           15|     20|
|   180|           50| 3200.0|      17|           15|     19|
|   138|           50| 3200.0|      17|           15|     17|
|   125|           50| 3200.0|      17|           15|     18|
|   196|           50| 3100.0|      21|           16|     23|
|   142|           50| 3100.0|      21|           16|     21|
|   181|           50| 3100.0|      21|           16|     22|
|   187|           50| 3000.0|      24|           17|     24|
|   197|           50| 3000.0|      24|           17|     25|
|   134|           50| 2900.0|      26|           18|     26|
|   190|           50| 2900.0|      26|           18|     27|
|   195|           50| 2800.0|      28|           19|     30|
|   130|           50| 2800.0|      28|           19|     28|
|   183|           50| 2800.0|      28|           19|     29|
|   139|           50| 2700.0|      31|           20|     31|
|   126|           50| 2700.0|      31|           20|     32|
|   199|           50| 2600.0|      33|           21|     35|
|   198|           50| 2600.0|      33|           21|     34|
|   143|           50| 2600.0|      33|           21|     33|
|   191|           50| 2500.0|      36|           22|     40|
|   182|           50| 2500.0|      36|           22|     39|
|   144|           50| 2500.0|      36|           22|     38|
|   140|           50| 2500.0|      36|           22|     37|
|   131|           50| 2500.0|      36|           22|     36|
|   127|           50| 2400.0|      41|           23|     41|
|   135|           50| 2400.0|      41|           23|     42|
|   128|           50| 2200.0|      43|           24|     43|
|   136|           50| 2200.0|      43|           24|     44|
|   132|           50| 2100.0|      45|           25|     45|
|   103|           60| 9000.0|       1|            1|      1|
|   104|           60| 6000.0|       2|            2|      2|
|   106|           60| 4800.0|       3|            3|      4|
|   105|           60| 4800.0|       3|            3|      3|
|   107|           60| 4200.0|       5|            4|      5|
|   204|           70|10000.0|       1|            1|      1|
|   145|           80|14000.0|       1|            1|      1|
|   146|           80|13500.0|       2|            2|      2|
|   147|           80|12000.0|       3|            3|      3|
|   168|           80|11500.0|       4|            4|      4|
|   148|           80|11000.0|       5|            5|      5|
|   174|           80|11000.0|       5|            5|      6|
|   162|           80|10500.0|       7|            6|      8|
|   149|           80|10500.0|       7|            6|      7|
|   150|           80|10000.0|       9|            7|      9|
|   169|           80|10000.0|       9|            7|     11|
|   156|           80|10000.0|       9|            7|     10|
|   170|           80| 9600.0|      12|            8|     12|
|   157|           80| 9500.0|      13|            9|     14|
|   151|           80| 9500.0|      13|            9|     13|
|   163|           80| 9500.0|      13|            9|     15|
|   152|           80| 9000.0|      16|           10|     16|
|   158|           80| 9000.0|      16|           10|     17|
|   175|           80| 8800.0|      18|           11|     18|
|   176|           80| 8600.0|      19|           12|     19|
|   177|           80| 8400.0|      20|           13|     20|
|   153|           80| 8000.0|      21|           14|     21|
|   159|           80| 8000.0|      21|           14|     22|
|   160|           80| 7500.0|      23|           15|     24|
|   154|           80| 7500.0|      23|           15|     23|
|   171|           80| 7400.0|      25|           16|     25|
|   172|           80| 7300.0|      26|           17|     26|
|   164|           80| 7200.0|      27|           18|     27|
|   161|           80| 7000.0|      28|           19|     29|
|   155|           80| 7000.0|      28|           19|     28|
|   165|           80| 6800.0|      30|           20|     30|
|   166|           80| 6400.0|      31|           21|     31|
|   179|           80| 6200.0|      32|           22|     33|
|   167|           80| 6200.0|      32|           22|     32|
|   173|           80| 6100.0|      34|           23|     34|
|   100|           90|24000.0|       1|            1|      1|
|   101|           90|17000.0|       2|            2|      2|
|   102|           90|17000.0|       2|            2|      3|
|   108|          100|12000.0|       1|            1|      1|
|   109|          100| 9000.0|       2|            2|      2|
|   110|          100| 8200.0|       3|            3|      3|
|   112|          100| 7800.0|       4|            4|      4|
|   111|          100| 7700.0|       5|            5|      5|
|   113|          100| 6900.0|       6|            6|      6|
|   205|          110|12000.0|       1|            1|      1|
|   206|          110| 8300.0|       2|            2|      2|
+------+-------------+-------+--------+-------------+-------+

<p style="background:#AED6F1"><b>Define Problem Statement - Get Top N Daily Products</b>

To develop a code, which will calculate the revenue for each product on a daily basis and display top N products for that day (by date).

**Assuming here, we need top 5 products by date.**

The datasets required for this problem are - 
* Orders Data File (orders.csv)
* Order Items Data File (orderItems.csv)
* Products Data File (products.csv)

<p style="background:#AED6F1"><b> Design - Get Top N Daily Products</p>

<p style="background:#FA8072;border-style:solid;"><b>This is to be corrected</b></p>

The design of the problem is as follows -

1. orders.csv read in orders data frame.
2. order_items.csv read in orderItems data frame.
3. products.csv read in products data frame.
4. Filter orders DF, orderItems DF and products DF to get desired columns.
5. Filtered orders DF and orderItems DF joined into ordersJoin DF, on order_id as key column.
6. Create window spec specifying partitionBy order_date and product_id and orderBy order_date and product_id 
7. In ordersJoin DF order_item_subtotal column aggregated using sum function over spec, creating revenue column and data ranked over spec.
8. ordersJoin DF and products DF joined on product_id as key column and a result data frame  created to show product_name and ranked revenue to display top 5 products by date.

<p style="background :#d0d5db"><b>Creating DF</b> </p>

<p style="background :#d0d5db"><b>Filtering DFs</b> </p>

<p style="background :#d0d5db"><b>Joining Order DFs</b> </p>

In [ ]:
>>> dailyRevenue = orders.where('order_status in ("COMPLETE","CLOSED")'). \
...                     join(orderItems, orders.order_id == orderItems.oi_order_id).\
...                     groupBy('order_date','oi_product_id').\
...                     agg(round(sum('subtotal'), 2).alias('revenue')).\
...                     orderBy('order_date',orderItems.oi_product_id.desc())

In [ ]:
dailyProdRevenue = spark.sql('''select order_date, oi_product_id, round(sum(oi_subtotal), 2) as revenue
            from ordersvw o, orderItemsvw oi
            where o.order_id = oi.oi_order_id
            and
            o.order_status in ("CLOSED", "COMPLETE")
            group by o.order_date, oi.oi_product_id 
            order by o.order_date, oi.oi_product_id desc''')

<p style="background :#d0d5db"><b>Creating Spec, Importing functions and Window objects</b> </p>

In [ ]:
dailyProdRevenue = spark.sql('''select order_date, oi_product_id, sum(oi_subtotal)
            from ordersvw, orderItemsvw
            where order_id = oi_order_id
            and
            order_status in ("CLOSED", "COMPLETE")
            group by order_date, oi_product_id
            ''')

In [ ]:
select order_date, order_item_product_id, sum(order_item_subtotal)
            from orders, order_items
            where order_id = order_item_order_id
            and
            order_status in ("CLOSED", "COMPLETE")
            group by order_date, order_item_product_id;

<p style="background :#d0d5db"><b>Aggregating and Ranking in DFs</b> </p>

<p style="background :#d0d5db"><b>Joining aggregated order and product DFs</b> </p>

<p style="background :#d0d5db"><b>END</b> </p>