### <div class="alert alert-success" style="background:#2C3E50;color:white">Data Frame Operations - Basic Transformations such as filtering, aggregations, joins etc</div>

This section will show different transformations on Data Frames such as -
* filtering datasets
* joining datasets 
* aggregating the data as desired after joining them.

All of the above operations will be performed using various Data Frame APIs like -
* select - for Selection or Projection
* Filtering data – filter or where
* Joins – join (supports outer join as well)
* Aggregations – groupBy and agg with support of functions such as sum.

<p style="background:#F1C40F"><b>NOTE : </b>Looking at examples based on hypothetical scenarios for various operations on Data Frames such as selecting, filtering, joining, aggregating and sorting.</p>

<p style="background:#AED6F1"><b>Selection or Projection of Data in Data Frames</p>

Data can be selected and fetched fom DF using native DF style syntax or sql style syntax. In native DF approach to select and project data we can use either of the following DF APIs -
* select(*cols) - Projects a set of expressions and returns a new DataFrame.
    * <code>df_name.select(df_name.attribute_name, df_name.attribute_name,...)</code>
    * <code>df_name.select('attribute_name', 'attribute_name',...)</code>
    
* withColumn()

For selecting using sql style syntax -
* selectExpr(*expr) - Projects a set of SQL expressions and returns a new DataFrame. This is a variant of select() that accepts SQL expressions.

<p style="background:#F1C40F"><b>NOTE : </b> Below are few important details -</p>

* We can apply functions to manipulate the data while it is being projected.
    * <code>df.select(substring('<attibute_name>', 1, 5))</code>
* Derived fields can be given aliases using alias function.
    * <code>df.select(substring('<attibute_name>', 1, 5).alias('XYZ'))</code>
* Using withColumn function we can project additional derived fields along with the existing attributes.
    * <code>df.withColumn('XYZ', substring('<attibute_name>', 1, 5))</code>

<p style="background :#d0d5db"><b>Selection using native DF style syntax - Examples</b> </p>

<p style="background :#d0d5db"><b>df.select()</b></p>

In [ ]:
>>> orders.select('order_id', 'order_date').show(truncate=False)

+--------+---------------------+
|order_id|order_date           |
+--------+---------------------+
|1       |2013-07-25 00:00:00.0|
|2       |2013-07-25 00:00:00.0|
|3       |2013-07-25 00:00:00.0|
|4       |2013-07-25 00:00:00.0|
|5       |2013-07-25 00:00:00.0|

In [ ]:
>>> orders.select('order_id', substring('order_date', 1, 7)).show()

+--------+---------------------------+  
|order_id|substring(order_date, 1, 7)|
+--------+---------------------------+
|       1|                    2013-07|
|       2|                    2013-07|
|       3|                    2013-07|
|       4|                    2013-07|
|       5|                    2013-07|

In [ ]:
>>> orders.select('order_id', substring('order_date', 1, 7).alias('order_month')).show()

+--------+-----------+
|order_id|order_month|
+--------+-----------+
|       1|    2013-07|
|       2|    2013-07|
|       3|    2013-07|
|       4|    2013-07|
|       5|    2013-07|
|       6|    2013-07|

In [ ]:
>>> orders.select(orders.order_id, orders.order_date).show(truncate=False)

+--------+---------------------+
|order_id|order_date           |
+--------+---------------------+
|1       |2013-07-25 00:00:00.0|
|2       |2013-07-25 00:00:00.0|
|3       |2013-07-25 00:00:00.0|
|4       |2013-07-25 00:00:00.0|
|5       |2013-07-25 00:00:00.0|

<p style="background :#d0d5db"><b>df.withColumn()</b></p>

In [ ]:
>>> orders.withColumn('order_month', substring('order_date', 1, 7)).show()

+--------+--------------------+-------------+---------------+-----------+
|order_id|          order_date|order_cust_id|   order_status|order_month|
+--------+--------------------+-------------+---------------+-----------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|    2013-07|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|    2013-07|
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|    2013-07|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|    2013-07|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|    2013-07|
|       6|2013-07-25 00:00:...|         7130|       COMPLETE|    2013-07|

<p style="background :#d0d5db"><b>Selection using native DF SQL style - Examples</b> </p>

<p style="background :#d0d5db"><b>df.selectExpr()</b></p>

In [ ]:
>>> orders.selectExpr('substring(order_date, 1, 7) as order_month').show()
                                                   ^^

+-----------+    
|order_month|
+-----------+
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
|    2013-07|
+-----------+
only showing top 20 rows

<p style="background:#AED6F1"><b>Filtering Data from Data Frames</p>

Data Frames have 2 APIs to filter the data - filter() and where(). where() is alias to filter(), hence, both function the same way.
* filter() or where() - are overloaded and hence, can both be used by writing code in native DF style syntax or sql style syntax.

* Native DF style syntax -
eg. <code>where(orders.order_status == 'COMPLETE').show()</code>

* SQL style syntax -
eg. <code>where('order_status = "COMPLETE"').show()</code>

<p style="background:#F1C40F"><b>NOTE : </b> Few more practice examples for filtering data are as under -</p>

<p style="background:#F1C40F">Get Orders which are either COMPLETE or CLOSED.</p>

Native DF style syntax

In [ ]:
>>> orders.filter(orders.order_status == 'COMPLETE').show()

+--------+--------------------+-------------+------------+ 
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|       3|2013-07-25 00:00:...|        12111|    COMPLETE|
|       5|2013-07-25 00:00:...|        11318|    COMPLETE|
|       6|2013-07-25 00:00:...|         7130|    COMPLETE|
|       7|2013-07-25 00:00:...|         4530|    COMPLETE|
|      15|2013-07-25 00:00:...|         2568|    COMPLETE|

In [ ]:
# using boolean OR

>>> orders.filter((orders.order_status == 'COMPLETE') | (orders.order_status == 'CLOSED')).show()

+--------+--------------------+-------------+------------+ 
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|       1|2013-07-25 00:00:...|        11599|      CLOSED|
|       3|2013-07-25 00:00:...|        12111|    COMPLETE|
|       4|2013-07-25 00:00:...|         8827|      CLOSED|
|       5|2013-07-25 00:00:...|        11318|    COMPLETE|
|       6|2013-07-25 00:00:...|         7130|    COMPLETE|
|       7|2013-07-25 00:00:...|         4530|    COMPLETE|

In [ ]:
# using DF function isin()

>>> orders.filter(orders.order_status.isin('COMPLETE','CLOSED')).show()

+--------+--------------------+-------------+------------+
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|       1|2013-07-25 00:00:...|        11599|      CLOSED|
|       3|2013-07-25 00:00:...|        12111|    COMPLETE|
|       4|2013-07-25 00:00:...|         8827|      CLOSED|
|       5|2013-07-25 00:00:...|        11318|    COMPLETE|
|       6|2013-07-25 00:00:...|         7130|    COMPLETE|

In [ ]:
>>> orders.filter(orders.order_status.isin('COMPLETE','CLOSED')).count()

30455

SQL style syntax

In [ ]:
>>> orders.filter("order_status = 'COMPLETE'").show()

+--------+--------------------+-------------+------------+
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|       3|2013-07-25 00:00:...|        12111|    COMPLETE|
|       5|2013-07-25 00:00:...|        11318|    COMPLETE|
|       6|2013-07-25 00:00:...|         7130|    COMPLETE|
|       7|2013-07-25 00:00:...|         4530|    COMPLETE|

In [ ]:
>>> orders.filter("order_status in('CLOSED', 'COMPLETE')").show()

+--------+--------------------+-------------+------------+
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|       1|2013-07-25 00:00:...|        11599|      CLOSED|
|       3|2013-07-25 00:00:...|        12111|    COMPLETE|
|       4|2013-07-25 00:00:...|         8827|      CLOSED|
|       5|2013-07-25 00:00:...|        11318|    COMPLETE|
|       6|2013-07-25 00:00:...|         7130|    COMPLETE|

<p style="background:#F1C40F"> Get Orders which are either COMPLETE or CLOSED and placed in month of August 2013.</p>

In [ ]:
# df native style statement

>>> orders.filter((orders.order_status.isin('COMPLETE','CLOSED')) &
... (orders.order_date.like('2013-08%'))).show()

+--------+--------------------+-------------+------------+
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|    1297|2013-08-01 00:00:...|        11607|    COMPLETE|
|    1298|2013-08-01 00:00:...|         5105|      CLOSED|
|    1299|2013-08-01 00:00:...|         7802|    COMPLETE|
|    1302|2013-08-01 00:00:...|         1695|    COMPLETE|
|    1304|2013-08-01 00:00:...|         2059|    COMPLETE|
|    1305|2013-08-01 00:00:...|         3844|    COMPLETE|
|    1307|2013-08-01 00:00:...|         4474|    COMPLETE|
|    1309|2013-08-01 00:00:...|         2367|      CLOSED|
|    1312|2013-08-01 00:00:...|        12291|    COMPLETE|
|    1314|2013-08-01 00:00:...|        10993|    COMPLETE|
|    1315|2013-08-01 00:00:...|         5660|    COMPLETE|
|    1318|2013-08-01 00:00:...|         4212|    COMPLETE|
|    1319|2013-08-01 00:00:...|         3966|    COMPLETE|
|    1320|2013-08-01 00:00:...|        12270|    COMPLETE|
|    1321|2013-08-01 00:00:...|          800|    COMPLETE|
|    1322|2013-08-01 00:00:...|         9264|    COMPLETE|
|    1323|2013-08-01 00:00:...|         7422|    COMPLETE|
|    1324|2013-08-01 00:00:...|         4600|    COMPLETE|
|    1327|2013-08-01 00:00:...|         9526|    COMPLETE|
|    1329|2013-08-01 00:00:...|         6070|      CLOSED|
+--------+--------------------+-------------+------------+
only showing top 20 rows

In [ ]:
# sql Style syntax

>>> orders.filter("order_status in ('COMPLETE', 'CLOSED') and order_date like '2013-08%'").show()

+--------+--------------------+-------------+------------+                   
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|    1297|2013-08-01 00:00:...|        11607|    COMPLETE|
|    1298|2013-08-01 00:00:...|         5105|      CLOSED|
|    1299|2013-08-01 00:00:...|         7802|    COMPLETE|
|    1302|2013-08-01 00:00:...|         1695|    COMPLETE|
|    1304|2013-08-01 00:00:...|         2059|    COMPLETE|

In [ ]:
# sql Style syntax

>>> orders.where("order_status in ('CLOSED', 'COMPLETE') and order_date like '2013-08%'").show()

+--------+--------------------+-------------+------------+                   
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|    1297|2013-08-01 00:00:...|        11607|    COMPLETE|
|    1298|2013-08-01 00:00:...|         5105|      CLOSED|
|    1299|2013-08-01 00:00:...|         7802|    COMPLETE|
|    1302|2013-08-01 00:00:...|         1695|    COMPLETE|
|    1304|2013-08-01 00:00:...|         2059|    COMPLETE|

In [ ]:
>>> orders.where("order_status in ('CLOSED', 'COMPLETE') and order_date like '2013-08%'").count()

2517

<p style="background:#F1C40F">Get Order Items where order_item_subtotal is not equal to product of item_quantity and product_price.</p>

In [ ]:
>>> orderItems.show()

+-------------+--------+----------+---+--------+-------------+
|order_item_id|order_id|product_id|qty|subtotal|product_price|
+-------------+--------+----------+---+--------+-------------+
|            1|       1|       957|  1|  299.98|       299.98|
|            2|       2|      1073|  1|  199.99|       199.99|
|            3|       2|       502|  5|   250.0|         50.0|
|            4|       2|       403|  1|  129.99|       129.99|

In [ ]:
>>> orderItems.select('subtotal', 'qty', 'product_price').show()

+--------+---+-------------+
|subtotal|qty|product_price|
+--------+---+-------------+
|  299.98|  1|       299.98|
|  199.99|  1|       199.99|
|   250.0|  5|         50.0|
|  129.99|  1|       129.99|

In [ ]:
# df native style statement

>>> orderItems. \
... select('subtotal', 'qty', 'product_price'). \
... where(orderItems.subtotal != orderItems.qty * orderItems.product_price). \
... show()

+--------+---+-------------+                                                 
|subtotal|qty|product_price|
+--------+---+-------------+
|  499.95|  5|        99.99|
|  499.95|  5|        99.99|
|  199.95|  5|        39.99|
|  499.95|  5|        99.99|
|  199.95|  5|        39.99|
|  499.95|  5|        99.99|

In [ ]:
>>> from pyspark.sql.functions import round

In [ ]:
# df native style statement

>>> orderItems. \
... select('subtotal', 'qty', 'product_price'). \
... where(orderItems.subtotal != round((orderItems.qty * orderItems.product_price), 2)). \
... show()

+--------+---+-------------+                                                 
|subtotal|qty|product_price|
+--------+---+-------------+
+--------+---+-------------+

In [ ]:
# sql style syntax

>>> orderItems = spark.read. \
... format('csv'). \
... schema('oi_id int, oi_ordr_id int, oi_prod_id int, oi_qnty int, oi_subtotal float, oi_prod_prce float'). \
... load('/public/retail_db/order_items')

In [ ]:
>>> orderItems.show()

+-----+----------+----------+-------+-----------+------------+
|oi_id|oi_ordr_id|oi_prod_id|oi_qnty|oi_subtotal|oi_prod_prce|
+-----+----------+----------+-------+-----------+------------+
|    1|         1|       957|      1|     299.98|      299.98|
|    2|         2|      1073|      1|     199.99|      199.99|
|    3|         2|       502|      5|      250.0|        50.0|
|    4|         2|       403|      1|     129.99|      129.99|

In [ ]:
>>> orderItems.select('oi_subtotal', 'oi_qnty', 'oi_prod_prce').show()

+-----------+-------+------------+
|oi_subtotal|oi_qnty|oi_prod_prce|
+-----------+-------+------------+
|     299.98|      1|      299.98|
|     199.99|      1|      199.99|
|      250.0|      5|        50.0|
|     129.99|      1|      129.99|

In [ ]:
>>> orderItems.select('oi_subtotal', 'oi_qnty', 'oi_prod_prce'). \
... where('oi_subtotal <> round((oi_qnty * oi_prod_prce),2)'). \
... show()

+-----------+-------+------------+
|oi_subtotal|oi_qnty|oi_prod_prce|
+-----------+-------+------------+
+-----------+-------+------------+

In [ ]:
>>> orderItems.selectExpr('oi_subtotal', 'oi_qnty', 'oi_prod_prce').show()

+-----------+-------+------------+
|oi_subtotal|oi_qnty|oi_prod_prce|
+-----------+-------+------------+
|     299.98|      1|      299.98|
|     199.99|      1|      199.99|
|      250.0|      5|        50.0|
|     129.99|      1|      129.99|
|      49.98|      2|       24.99|
|     299.95|      5|       59.99|

<p style="background:#F1C40F">Get all Orders which are placed on first of every month</p>

In [ ]:
>>> from pyspark.sql.functions import min, max

In [ ]:
>>> orders.select(max('order_date')).show()

+--------------------+ 
|     max(order_date)|
+--------------------+
|2014-07-24 00:00:...|
+--------------------+

In [ ]:
>>> orders.select(min('order_date')).show()

+--------------------+
|     min(order_date)|
+--------------------+
|2013-07-25 00:00:...|
+--------------------+

In [ ]:
>>> orders.select(date_format('order_date', 'yyyy-MM-dd')).show()

+-----------------------------------+
|date_format(order_date, yyyy-MM-dd)|
+-----------------------------------+
|                         2013-07-25|
|                         2013-07-25|
|                         2013-07-25|
|                         2013-07-25|
|                         2013-07-25|

In [ ]:
>>> orders.select(date_format('order_date', 'yyyy-MM-dd').alias('order_date')).show()

+----------+
|order_date|
+----------+
|2013-07-25|
|2013-07-25|
|2013-07-25|
|2013-07-25|

In [ ]:
>>> orders.where(date_format('order_date', 'dd') == '01').show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|    1297|2013-08-01 00:00:...|        11607|       COMPLETE|
|    1298|2013-08-01 00:00:...|         5105|         CLOSED|
|    1299|2013-08-01 00:00:...|         7802|       COMPLETE|
|    1300|2013-08-01 00:00:...|          553|PENDING_PAYMENT|
|    1301|2013-08-01 00:00:...|         1604|PENDING_PAYMENT|
|    1302|2013-08-01 00:00:...|         1695|       COMPLETE|
|    1303|2013-08-01 00:00:...|         7018|     PROCESSING|
|    1304|2013-08-01 00:00:...|         2059|       COMPLETE|
|    1305|2013-08-01 00:00:...|         3844|       COMPLETE|
|    1306|2013-08-01 00:00:...|        11672|PENDING_PAYMENT|
|    1307|2013-08-01 00:00:...|         4474|       COMPLETE|
|    1308|2013-08-01 00:00:...|        11645|        PENDING|
|    1309|2013-08-01 00:00:...|         2367|         CLOSED|
|    1310|2013-08-01 00:00:...|         5602|        PENDING|
|    1311|2013-08-01 00:00:...|         5396|PENDING_PAYMENT|
|    1312|2013-08-01 00:00:...|        12291|       COMPLETE|
|    1313|2013-08-01 00:00:...|         3471|       CANCELED|
|    1314|2013-08-01 00:00:...|        10993|       COMPLETE|
|    1315|2013-08-01 00:00:...|         5660|       COMPLETE|
|    1316|2013-08-01 00:00:...|         6376|PENDING_PAYMENT|
+--------+--------------------+-------------+---------------+
only showing top 20 rows

In [ ]:
# there should be 12 uniques dates - 1 for each month

>>> orders.where(date_format('order_date', 'dd') == '01').select('order_date').distinct().count()

12

<p style="background:#F1C40F"><b>NOTE : </b>Just tried spark.sql</p>

In [ ]:
>>> orders = spark.read.csv('/public/retail_db/orders', schema='order_id int, order_date string, order_cust_id int, order_status string')

In [ ]:
>>> orders.show()

+--------+--------------------+-------------+---------------+   
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|

In [ ]:
>>> orders.createOrReplaceTempView('ordersvw')

In [ ]:
>>> spark.sql("select * from ordersvw").show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|

In [ ]:
>>> spark.sql("select order_date from ordersvw").show()

+--------------------+
|          order_date|
+--------------------+
|2013-07-25 00:00:...|
|2013-07-25 00:00:...|
|2013-07-25 00:00:...|

In [ ]:
>>> spark.sql("select date_format(order_date,'yyyy-MM-dd') from ordersvw").show()

+------------------------------------------------------+
|date_format(CAST(order_date AS TIMESTAMP), yyyy-MM-dd)|
+------------------------------------------------------+
|                                            2013-07-25|
|                                            2013-07-25|
|                                            2013-07-25|
|                                            2013-07-25|
|                                            2013-07-25|

In [ ]:
>>> spark.sql("select date_format(order_date,'yyyy-MM') from ordersvw").show()

+---------------------------------------------------+
|date_format(CAST(order_date AS TIMESTAMP), yyyy-MM)|
+---------------------------------------------------+
|                                            2013-07|
|                                            2013-07|
|                                            2013-07|
|                                            2013-07|
|                                            2013-07|
|                                            2013-07|

In [ ]:
>>> spark.sql("select date_format(order_date,'dd') from ordersvw").show()

+----------------------------------------------+
|date_format(CAST(order_date AS TIMESTAMP), dd)|
+----------------------------------------------+
|                                            25|
|                                            25|
|                                            25|
|                                            25|

In [ ]:
>>> spark.sql("select * from ordersvw where date_format(order_date,'dd') = '01'").show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|    1297|2013-08-01 00:00:...|        11607|       COMPLETE|
|    1298|2013-08-01 00:00:...|         5105|         CLOSED|
|    1299|2013-08-01 00:00:...|         7802|       COMPLETE|
|    1300|2013-08-01 00:00:...|          553|PENDING_PAYMENT|
|    1301|2013-08-01 00:00:...|         1604|PENDING_PAYMENT|

In [ ]:
>>> spark.sql("select distinct(count(order_date)) from ordersvw where date_format(order_date,'dd') = '01'").show()

+-----------------+
|count(order_date)|
+-----------------+
|             2349|
+-----------------+

In [ ]:
>>> spark.sql("select * from ordersvw where date_format(order_date,'dd') = '01'").distinct().count()

In [ ]:
>>> spark.sql("select distinct(order_date) from ordersvw where date_format(order_date,'dd') = '01'")
DataFrame[order_date: string]

In [ ]:
>>> spark.sql("select distinct(order_date) from ordersvw where date_format(order_date,'dd') = '01'").show()

+--------------------+ 
|          order_date|
+--------------------+
|2014-07-01 00:00:...|
|2013-08-01 00:00:...|
|2014-03-01 00:00:...|
|2014-01-01 00:00:...|

<p style="background:#AED6F1"><b>Joining multiple Data Frames</p>

<p style="background:#F1C40F"><b>NOTE : Examples to understand Joins in DF </b></p>

In [ ]:
>>> orders = spark.read.csv('/public/retail_db/orders', 
            schema='order_id int, order_date string, order_cust_id int, order_status string')

In [ ]:
>>> orderItems = spark.read. \
...  format('csv'). \
...  schema('''order_item_id int,
...  oi_order_id int,
...  oi_product_id int,
...  oi_qty int,
...  oi_subtotal float,
...  oi_product_price float'''). \
...  load('/public/retail_db/order_items')

<p style="background:#F1C40F">Get all the order items corresponding to COMPLETE OR CLOSED orders.</p>

In [ ]:
>>> ordersFiltered = orders.where("order_status in ('COMPLETE','CLOSED')")

In [ ]:
>>> ordersFiltered.show()

+--------+--------------------+-------------+------------+
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|       1|2013-07-25 00:00:...|        11599|      CLOSED|
|       3|2013-07-25 00:00:...|        12111|    COMPLETE|
|       4|2013-07-25 00:00:...|         8827|      CLOSED|
|       5|2013-07-25 00:00:...|        11318|    COMPLETE|
|       6|2013-07-25 00:00:...|         7130|    COMPLETE|

In [ ]:
>>> ordersJoin = ordersFiltered. \
... join(orderItems, ordersFiltered.order_id == orderItems.order_id, 'inner')

In [ ]:
>>> type(ordersJoin)

<class 'pyspark.sql.dataframe.DataFrame'>

In [ ]:
>>> ordersJoin.show()

+--------+--------------------+-------------+------------+-------------+--------+----------+---+--------+-------------+
|order_id|          order_date|order_cust_id|order_status|order_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+--------+--------------------+-------------+------------+-------------+--------+----------+---+--------+-------------+
|       1|2013-07-25 00:00:...|        11599|      CLOSED|            1|       1|       957|  1|  299.98|       299.98|
|       4|2013-07-25 00:00:...|         8827|      CLOSED|            5|       4|       897|  2|   49.98|        24.99|
|       4|2013-07-25 00:00:...|         8827|      CLOSED|            6|       4|       365|  5|  299.95|        59.99|
|       4|2013-07-25 00:00:...|         8827|      CLOSED|            7|       4|       502|  3|   150.0|         50.0|
|       4|2013-07-25 00:00:...|         8827|      CLOSED|            8|       4|      1014|  4|  199.92|        49.98|
|       5|2013-07-25 00:00:...|        11318|    COMPLETE|            9|       5|       957|  1|  299.98|       299.98|
|       5|2013-07-25 00:00:...|        11318|    COMPLETE|           10|       5|       365|  5|  299.95|        59.99|

<p style="background:#F1C40F">Get all the orders where there are no corresponding order items.</p>

In [ ]:
>>> orders.select('order_id').distinct().count()
68883

In [ ]:
>>> orderItems.select('order_id').distinct().count()
57431

In [ ]:
>>> orderLeftOuterJoin = orders.join(orderItems,
... orders.order_id == orderItems.order_id,
... 'left')

In [ ]:
>>> orderLeftOuterJoin.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_cust_id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_item_id: integer (nullable = true)
 |-- oi_order_id: integer (nullable = true)
 |-- oi_product_id: integer (nullable = true)
 |-- oi_qty: integer (nullable = true)
 |-- oi_subtotal: float (nullable = true)
 |-- oi_product_price: float (nullable = true)

In [ ]:
>>> orderLeftOuterJoin.show()

+--------+--------------------+-------------+---------------+-------------+--------+----------+----+--------+-------------+
|order_id|          order_date|order_cust_id|   order_status|order_item_id|oi_order_id|oi_product_id| oi_qty|oi_subtotal|oi_product_price|
+--------+--------------------+-------------+---------------+-------------+--------+----------+----+--------+-------------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|            1|       1|       957|   1|  299.98|       299.98|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            4|       2|       403|   1|  129.99|       129.99|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            3|       2|       502|   5|   250.0|         50.0|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            2|       2|      1073|   1|  199.99|       199.99|
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|         null|    null|      null|null|    null|         null|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            8|       4|      1014|   4|  199.92|        49.98|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            7|       4|       502|   3|   150.0|         50.0|

In [ ]:
>>> orderLeftOuterJoin.count()
183650

In [ ]:
>>> ordersLeftOuterJoin.where("oi_order_id is null")

DataFrame[order_id: int, order_date: string, order_cust_id: int, order_status: string, order_item_id: int, oi_order_id: int, oi_product_id: int, oi_qty: int, oi_subtotal: float, oi_product_price: float]

In [ ]:
>>> ordersLeftOuterJoin.where("oi_order_id is null").show()

+--------+--------------------+-------------+---------------+-------------+-----------+-------------+------+-----------+----------------+
|order_id|          order_date|order_cust_id|   order_status|order_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+--------+--------------------+-------------+---------------+-------------+-----------+-------------+------+-----------+----------------+
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|         null|       null|         null|  null|       null|            null|
|       6|2013-07-25 00:00:...|         7130|       COMPLETE|         null|       null|         null|  null|       null|            null|
|      22|2013-07-25 00:00:...|          333|       COMPLETE|         null|       null|         null|  null|       null|            null|
|      26|2013-07-25 00:00:...|         7562|       COMPLETE|         null|       null|         null|  null|       null|            null|
|      32|2013-07-25 00:00:...|         3960|       COMPLETE|         null|       null|         null|  null|       null|            null|

In [ ]:
>>> ordersLeftOuterJoin.where("oi_order_id is null").count()
11452

<p style="background:#F1C40F">Check if there are any order items where there is no corresponding data in orders data set.</p>

In [ ]:
>>> ordersRightOuterJoin = orders.join(orderItems,
... orders.order_id == orderItems.oi_order_id,
... 'right')

In [ ]:
>>> ordersRightOuterJoin.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_cust_id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_item_id: integer (nullable = true)
 |-- oi_order_id: integer (nullable = true)
 |-- oi_product_id: integer (nullable = true)
 |-- oi_qty: integer (nullable = true)
 |-- oi_subtotal: float (nullable = true)
 |-- oi_product_price: float (nullable = true)

In [ ]:
>>> ordersRightOuterJoin.show()

+--------+--------------------+-------------+---------------+-------------+-----------+-------------+------+-----------+----------------+
|order_id|          order_date|order_cust_id|   order_status|order_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+--------+--------------------+-------------+---------------+-------------+-----------+-------------+------+-----------+----------------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|            1|          1|          957|     1|     299.98|          299.98|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            2|          2|         1073|     1|     199.99|          199.99|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            3|          2|          502|     5|      250.0|            50.0|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|            4|          2|          403|     1|     129.99|          129.99|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            5|          4|          897|     2|      49.98|           24.99|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            6|          4|          365|     5|     299.95|           59.99|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            7|          4|          502|     3|      150.0|            50.0|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|            8|          4|         1014|     4|     199.92|           49.98|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|            9|          5|          957|     1|     299.98|          299.98|

In [ ]:
>>> ordersRightOuterJoin.where("order_id is null").show()

+--------+----------+-------------+------------+-------------+-----------+-------------+------+-----------+----------------+
|order_id|order_date|order_cust_id|order_status|order_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+--------+----------+-------------+------------+-------------+-----------+-------------+------+-----------+----------------+
+--------+----------+-------------+------------+-------------+-----------+-------------+------+-----------+----------------+

<p style="background:#AED6F1"><b>Perform Aggregations using Data Frames</p>

In [ ]:
>>> orders = spark.read. \
... format('csv'). \
... schema('order_id int, order_date string, order_cus_id int, order_status string'). \
... load('/public/retail_db/orders')

In [ ]:
>>> orders.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_cus_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [ ]:
>>> orders.select('order_status').count()

68883

In [ ]:
>>> orders.select('order_status').distinct().count()

In [ ]:
9

In [ ]:
>>> from pyspark.sql.functions import countDistinct

In [ ]:
>>> orders.select(countDistinct('order_status')).show()

+----------------------------+
|count(DISTINCT order_status)|
+----------------------------+
|                           9|
+----------------------------+

In [ ]:
>>> orders.select(countDistinct('order_status')).alias('order_status_count').show()

+----------------------------+
|count(DISTINCT order_status)|
+----------------------------+
|                           9|
+----------------------------+

In [ ]:
>>> orders.select(countDistinct('order_status').alias('order_status_count')).show()

+----------------------------+
|count(DISTINCT order_status)|
+----------------------------+
|                           9|
+----------------------------+

<p style="background:#F1C40F"> Get count by status from orders.</p>

In [ ]:
>>> orderItems = spark.read. \
...  format('csv'). \
...  schema('''order_item_id int,
...  oi_order_id int,
...  oi_product_id int,
...  oi_qty int,
...  oi_subtotal float,
...  oi_product_price float'''). \
...  load('/public/retail_db/order_items')

In [ ]:
>>> orders = spark.read.csv('/public/retail_db/orders', schema='order_id int, order_date string, order_cust_id int, order_status string')

In [ ]:
>>> orders. \
... groupBy('order_status'). \
... count(). \
... show()

+---------------+-----+
|   order_status|count|
+---------------+-----+
|PENDING_PAYMENT|15030|
|       COMPLETE|22899|
|        ON_HOLD| 3798|
| PAYMENT_REVIEW|  729|
|     PROCESSING| 8275|
|         CLOSED| 7556|
|SUSPECTED_FRAUD| 1558|
|        PENDING| 7610|
|       CANCELED| 1428|
+---------------+-----+

**Solution**

In [ ]:
>>> from pyspark.sql.functions import count

In [ ]:
>>> orders. \
... groupBy('order_status'). \
... agg(count('order_status').alias('order_status_count')). \
... show()

+---------------+------------------+
|   order_status|order_status_count|
+---------------+------------------+
|PENDING_PAYMENT|             15030|
|       COMPLETE|             22899|
|        ON_HOLD|              3798|
| PAYMENT_REVIEW|               729|
|     PROCESSING|              8275|
|         CLOSED|              7556|
|SUSPECTED_FRAUD|              1558|
|        PENDING|              7610|
|       CANCELED|              1428|
+---------------+------------------+

<p style="background:#F1C40F">Get revenue for each order id from order items.</p>

In [ ]:
>>> orderItems = spark.read.csv('/public/retail_db/order_items', schema='oi_item_id int, oi_order_id int, oi_product_id int, oi_qty int, oi_subtotal float, oi_prod_price float')

In [ ]:
>>> orderItems.printSchema()

root
 |-- oi_item_id: integer (nullable = true)
 |-- oi_order_id: integer (nullable = true)
 |-- oi_product_id: integer (nullable = true)
 |-- oi_qty: integer (nullable = true)
 |-- oi_subtotal: float (nullable = true)
 |-- oi_prod_price: float (nullable = true)

In [ ]:
>>> orderItems.where('oi_order_id = 2').show()

+-------------+-----------+-------------+------+-----------+----------------+
|order_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+-------------+-----------+-------------+------+-----------+----------------+
|            2|          2|         1073|     1|     199.99|          199.99|
|            3|          2|          502|     5|      250.0|            50.0|
|            4|          2|          403|     1|     129.99|          129.99|
+-------------+-----------+-------------+------+-----------+----------------+

In [ ]:
>>> from pyspark.sql.functions import round

In [ ]:
>>> orderItems.where('oi_order_id = 2'). \
... select(sum('oi_subtotal')).show()

+-----------------+
| sum(oi_subtotal)|
+-----------------+
|579.9800109863281|
+-----------------+

In [ ]:
>>> orderItems.where('oi_order_id = 2'). \
... select(round(sum('oi_subtotal'), 2)).show()

+--------------------------+
|round(sum(oi_subtotal), 2)|
+--------------------------+
|                    579.98|
+--------------------------+

**Solution**

In [ ]:
>>> orderItems.groupBy('oi_order_id'). \
... sum('oi_subtotal').show()

+-----------+------------------+
|oi_order_id|  sum(oi_subtotal)|
+-----------+------------------+
|        148|479.99000549316406|
|        463| 829.9200096130371|
|        471|169.98000717163086|
|        496|  441.950008392334|

In [ ]:
# got error

>>> orderItems.groupBy('oi_order_id'). \
... round(sum('oi_subtotal'),2).show()


Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'GroupedData' object has no attribute 'round'

In [ ]:
>>> orderItems.groupBy('oi_order_id'). \
... agg(round(sum('oi_subtotal'), 2).alias('order_revenue'))

DataFrame[oi_order_id: int, order_revenue: double]

In [ ]:
>>> orderItems.groupBy('oi_order_id'). \
... agg(round(sum('oi_subtotal'), 2).alias('order_revenue')).show()

+-----------+-------------+
|oi_order_id|order_revenue|
+-----------+-------------+
|      61793|      1299.87|
|      62015|      1139.88|
|      62680|       379.96|
|      62985|        249.9|
|      63087|       349.96|
|      63106|      1299.91|

<p style="background:#F1C40F">Get daily product revenue (order_date and order_item_product_id are part of keys, order_item_subtotal to be used for aggregation).</p>

In [ ]:
>>> ordersJoin = orders.join(orderItems, orders.order_id == orderItems.oi_order_id)

In [ ]:
>>> ordersJoin.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_cust_id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_item_id: integer (nullable = true)
 |-- oi_order_id: integer (nullable = true)
 |-- oi_product_id: integer (nullable = true)
 |-- oi_qty: integer (nullable = true)
 |-- oi_subtotal: float (nullable = true)
 |-- oi_product_price: float (nullable = true)

In [ ]:
>>> from pyspark.sql.functions import round, sum

In [ ]:
>>> ordersJoin. \
... groupBy('order_date', 'oi_product_id'). \
... agg(round(sum('oi_subtotal'), 2).alias('productRevenue')). \
... show()

+--------------------+-------------+--------------+
|          order_date|oi_product_id|productRevenue|
+--------------------+-------------+--------------+
|2013-07-27 00:00:...|          703|         99.95|
|2013-07-29 00:00:...|          793|         44.97|
|2013-08-04 00:00:...|          825|         95.97|
|2013-08-06 00:00:...|           93|         24.99|
|2013-08-12 00:00:...|          627|       5358.66|

In [ ]:
>>> ordersJoin. \
... groupBy('order_date', 'oi_product_id'). \
... agg(round(sum('oi_subtotal'), 2).alias('productRevenue')). \
... count()

14344

<p style="background:#AED6F1"><b>Sorting Data in Data Frames</p>

In [ ]:
>>> orders = spark.read.csv('/public/retail_db/orders', schema='order_id int, order_date string, order_cust_id int, order_status string')

In [ ]:
>>> orderItems = spark.read. \
...  format('csv'). \
...  schema('''order_item_id int,
...  oi_order_id int,
...  oi_product_id int,
...  oi_qty int,
...  oi_subtotal float,
...  oi_product_price float'''). \
...  load('/public/retail_db/order_items')

In [ ]:
>>> orders.count()
68883

In [ ]:
>>> orders.sort('order_date').show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|
|       6|2013-07-25 00:00:...|         7130|       COMPLETE|
|       7|2013-07-25 00:00:...|         4530|       COMPLETE|
|       8|2013-07-25 00:00:...|         2911|     PROCESSING|
|       9|2013-07-25 00:00:...|         5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|         5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|          918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|         1837|         CLOSED|
|      13|2013-07-25 00:00:...|         9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|         9842|     PROCESSING|
|      15|2013-07-25 00:00:...|         2568|       COMPLETE|
|      16|2013-07-25 00:00:...|         7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|         2667|       COMPLETE|
|      18|2013-07-25 00:00:...|         1205|         CLOSED|
|      19|2013-07-25 00:00:...|         9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|         9198|     PROCESSING|
+--------+--------------------+-------------+---------------+
only showing top 20 rows

In [ ]:
>>> orders.sort('order_date', 'order_cust_id').show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|   57762|2013-07-25 00:00:...|          192|       COMPLETE|
|      29|2013-07-25 00:00:...|          196|     PROCESSING|
|   57759|2013-07-25 00:00:...|          216|        ON_HOLD|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|
|   57782|2013-07-25 00:00:...|          284|         CLOSED|
|      22|2013-07-25 00:00:...|          333|       COMPLETE|
|      28|2013-07-25 00:00:...|          656|       COMPLETE|
|      74|2013-07-25 00:00:...|          662|PENDING_PAYMENT|
|      81|2013-07-25 00:00:...|          674|     PROCESSING|
|      89|2013-07-25 00:00:...|          824|        ON_HOLD|
|      11|2013-07-25 00:00:...|          918| PAYMENT_REVIEW|
|   57778|2013-07-25 00:00:...|         1143|        PENDING|
|      63|2013-07-25 00:00:...|         1148|       COMPLETE|
|      18|2013-07-25 00:00:...|         1205|         CLOSED|
|      83|2013-07-25 00:00:...|         1265|       COMPLETE|
|   57767|2013-07-25 00:00:...|         1338|PENDING_PAYMENT|
|      67|2013-07-25 00:00:...|         1406|       COMPLETE|
|      85|2013-07-25 00:00:...|         1485|        PENDING|
|      46|2013-07-25 00:00:...|         1549|        ON_HOLD|
|   57764|2013-07-25 00:00:...|         1763|       COMPLETE|
+--------+--------------------+-------------+---------------+
only showing top 20 rows

In [ ]:
>>> orders.sort(['order_date', 'order_cust_id'], ascending=[0, 1]).show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|   57617|2014-07-24 00:00:...|            3|       COMPLETE|
|   57733|2014-07-24 00:00:...|           17|         CLOSED|
|   57684|2014-07-24 00:00:...|           98|       COMPLETE|
|   57695|2014-07-24 00:00:...|          112|       COMPLETE|
|   57598|2014-07-24 00:00:...|          138|        PENDING|
|   57715|2014-07-24 00:00:...|          243|PENDING_PAYMENT|
|   67396|2014-07-24 00:00:...|          282|PENDING_PAYMENT|
|   67406|2014-07-24 00:00:...|          476|       COMPLETE|
|   67393|2014-07-24 00:00:...|          585|     PROCESSING|
|   57675|2014-07-24 00:00:...|          595|PENDING_PAYMENT|
|   57729|2014-07-24 00:00:...|          611|PENDING_PAYMENT|
|   57658|2014-07-24 00:00:...|          629|PENDING_PAYMENT|
|   57696|2014-07-24 00:00:...|          656|PENDING_PAYMENT|
|   57749|2014-07-24 00:00:...|          666|         CLOSED|
|   57728|2014-07-24 00:00:...|          822|         CLOSED|
|   57680|2014-07-24 00:00:...|         1000|         CLOSED|
|   57601|2014-07-24 00:00:...|         1046|        ON_HOLD|
|   67408|2014-07-24 00:00:...|         1150|     PROCESSING|
|   57748|2014-07-24 00:00:...|         1167|       COMPLETE|
|   57636|2014-07-24 00:00:...|         1211|        PENDING|
+--------+--------------------+-------------+---------------+
only showing top 20 rows

In [ ]:
>>> orders.sort(['order_date', 'order_cust_id'], ascending=[1, 0]).show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|   57785|2013-07-25 00:00:...|        12347|     PROCESSING|
|   57787|2013-07-25 00:00:...|        12294|PENDING_PAYMENT|
|      51|2013-07-25 00:00:...|        12271|         CLOSED|
|     103|2013-07-25 00:00:...|        12256|     PROCESSING|
|      48|2013-07-25 00:00:...|        12186|     PROCESSING|
|     100|2013-07-25 00:00:...|        12131|     PROCESSING|
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|
|      40|2013-07-25 00:00:...|        12092|PENDING_PAYMENT|
|   57779|2013-07-25 00:00:...|        11941|       COMPLETE|
|      70|2013-07-25 00:00:...|        11809|PENDING_PAYMENT|
|      59|2013-07-25 00:00:...|        11644|PENDING_PAYMENT|
|       1|2013-07-25 00:00:...|        11599|         CLOSED|
|      94|2013-07-25 00:00:...|        11589|     PROCESSING|
|      38|2013-07-25 00:00:...|        11586|     PROCESSING|
|      99|2013-07-25 00:00:...|        11542|PENDING_PAYMENT|
|      24|2013-07-25 00:00:...|        11441|         CLOSED|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|
|   57774|2013-07-25 00:00:...|        11196|PENDING_PAYMENT|
|   67416|2013-07-25 00:00:...|        10920|         CLOSED|
|      97|2013-07-25 00:00:...|        10784|        PENDING|
+--------+--------------------+-------------+---------------+
only showing top 20 rows

In [ ]:
>>> orders.sort('order_date', orders.order_cust_id.desc()).show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|   57785|2013-07-25 00:00:...|        12347|     PROCESSING|
|   57787|2013-07-25 00:00:...|        12294|PENDING_PAYMENT|
|      51|2013-07-25 00:00:...|        12271|         CLOSED|
|     103|2013-07-25 00:00:...|        12256|     PROCESSING|
|      48|2013-07-25 00:00:...|        12186|     PROCESSING|
|     100|2013-07-25 00:00:...|        12131|     PROCESSING|
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|
|      40|2013-07-25 00:00:...|        12092|PENDING_PAYMENT|

In [ ]:
>>> orders.sort(orders.order_date.asc(), orders.order_cust_id.desc()).show()

+--------+--------------------+-------------+---------------+
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|   57785|2013-07-25 00:00:...|        12347|     PROCESSING|
|   57787|2013-07-25 00:00:...|        12294|PENDING_PAYMENT|
|      51|2013-07-25 00:00:...|        12271|         CLOSED|
|     103|2013-07-25 00:00:...|        12256|     PROCESSING|
|      48|2013-07-25 00:00:...|        12186|     PROCESSING|
|     100|2013-07-25 00:00:...|        12131|     PROCESSING|

<p style="background:#F1C40F">Sort orders by order status.</p>

In [ ]:
>>> orders.sort('order_status').show()

+--------+--------------------+-------------+------------+                      
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|     527|2013-07-28 00:00:...|         5426|    CANCELED|
|    1435|2013-08-01 00:00:...|         1879|    CANCELED|
|     552|2013-07-28 00:00:...|         1445|    CANCELED|
|     112|2013-07-26 00:00:...|         5375|    CANCELED|
|     564|2013-07-28 00:00:...|         2216|    CANCELED|
|     955|2013-07-30 00:00:...|         8117|    CANCELED|
|    1383|2013-08-01 00:00:...|         1753|    CANCELED|
|     962|2013-07-30 00:00:...|         9492|    CANCELED|
|     607|2013-07-28 00:00:...|         6376|    CANCELED|
|    1013|2013-07-30 00:00:...|         1903|    CANCELED|
|     667|2013-07-28 00:00:...|         4726|    CANCELED|
|    1169|2013-07-31 00:00:...|         3971|    CANCELED|
|     717|2013-07-29 00:00:...|         8208|    CANCELED|
|    1186|2013-07-31 00:00:...|        11947|    CANCELED|
|     753|2013-07-29 00:00:...|         5094|    CANCELED|
|    1190|2013-07-31 00:00:...|        12360|    CANCELED|
|      50|2013-07-25 00:00:...|         5225|    CANCELED|
|    1313|2013-08-01 00:00:...|         3471|    CANCELED|
|     716|2013-07-29 00:00:...|         2581|    CANCELED|
|    1365|2013-08-01 00:00:...|         8567|    CANCELED|
+--------+--------------------+-------------+------------+
only showing top 20 rows

<p style="background:#F1C40F">Sort orders by date and then status.</p>

In [ ]:
>>> orders.sort('order_date', 'order_status').show()

+--------+--------------------+-------------+------------+
|order_id|          order_date|order_cust_id|order_status|
+--------+--------------------+-------------+------------+
|      50|2013-07-25 00:00:...|         5225|    CANCELED|
|       1|2013-07-25 00:00:...|        11599|      CLOSED|
|      12|2013-07-25 00:00:...|         1837|      CLOSED|
|       4|2013-07-25 00:00:...|         8827|      CLOSED|
|      37|2013-07-25 00:00:...|         5863|      CLOSED|
|      18|2013-07-25 00:00:...|         1205|      CLOSED|
|      24|2013-07-25 00:00:...|        11441|      CLOSED|
|      25|2013-07-25 00:00:...|         9503|      CLOSED|
|   57754|2013-07-25 00:00:...|         4648|      CLOSED|
|      90|2013-07-25 00:00:...|         9131|      CLOSED|
|      51|2013-07-25 00:00:...|        12271|      CLOSED|
|      57|2013-07-25 00:00:...|         7073|      CLOSED|
|      61|2013-07-25 00:00:...|         4791|      CLOSED|
|      62|2013-07-25 00:00:...|         9111|      CLOSED|
|      87|2013-07-25 00:00:...|         3065|      CLOSED|
|     101|2013-07-25 00:00:...|         5116|      CLOSED|
|   57766|2013-07-25 00:00:...|         2376|      CLOSED|
|   57781|2013-07-25 00:00:...|         6143|      CLOSED|
|   57782|2013-07-25 00:00:...|          284|      CLOSED|
|   67416|2013-07-25 00:00:...|        10920|      CLOSED|
+--------+--------------------+-------------+------------+
only showing top 20 rows

<p style="background:#F1C40F">Sort order items by order id and subtotal in descending order.</p>

In [ ]:
>>> orderItems.sort(['oi_order_id', 'oi_subtotal'], ascending=[1,0]).show()

+-------------+-----------+-------------+------+-----------+----------------+
|order_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+-------------+-----------+-------------+------+-----------+----------------+
|            1|          1|          957|     1|     299.98|          299.98|
|            3|          2|          502|     5|      250.0|            50.0|
|            2|          2|         1073|     1|     199.99|          199.99|
|            4|          2|          403|     1|     129.99|          129.99|
|            6|          4|          365|     5|     299.95|           59.99|
|            8|          4|         1014|     4|     199.92|           49.98|
|            7|          4|          502|     3|      150.0|            50.0|
|            5|          4|          897|     2|      49.98|           24.99|
|            9|          5|          957|     1|     299.98|          299.98|
|           12|          5|          957|     1|     299.98|          299.98|
|           10|          5|          365|     5|     299.95|           59.99|
|           13|          5|          403|     1|     129.99|          129.99|
|           11|          5|         1014|     2|      99.96|           49.98|
|           15|          7|          957|     1|     299.98|          299.98|
|           14|          7|         1073|     1|     199.99|          199.99|
|           16|          7|          926|     5|      79.95|           15.99|
|           18|          8|          365|     5|     299.95|           59.99|
|           19|          8|         1014|     4|     199.92|           49.98|
|           17|          8|          365|     3|     179.97|           59.99|
|           20|          8|          502|     1|       50.0|            50.0|
+-------------+-----------+-------------+------+-----------+----------------+
only showing top 20 rows

In [ ]:
>>> orderItems.sort('oi_order_id', orderItems.oi_subtotal.desc()).show()

+-------------+-----------+-------------+------+-----------+----------------+
|order_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+-------------+-----------+-------------+------+-----------+----------------+
|            1|          1|          957|     1|     299.98|          299.98|
|            3|          2|          502|     5|      250.0|            50.0|
|            2|          2|         1073|     1|     199.99|          199.99|
|            4|          2|          403|     1|     129.99|          129.99|
|            6|          4|          365|     5|     299.95|           59.99|
|            8|          4|         1014|     4|     199.92|           49.98|
|            7|          4|          502|     3|      150.0|            50.0|
|            5|          4|          897|     2|      49.98|           24.99|
|            9|          5|          957|     1|     299.98|          299.98|
|           12|          5|          957|     1|     299.98|          299.98|
|           10|          5|          365|     5|     299.95|           59.99|
|           13|          5|          403|     1|     129.99|          129.99|
|           11|          5|         1014|     2|      99.96|           49.98|
|           15|          7|          957|     1|     299.98|          299.98|
|           14|          7|         1073|     1|     199.99|          199.99|
|           16|          7|          926|     5|      79.95|           15.99|
|           18|          8|          365|     5|     299.95|           59.99|
|           19|          8|         1014|     4|     199.92|           49.98|
|           17|          8|          365|     3|     179.97|           59.99|
|           20|          8|          502|     1|       50.0|            50.0|
+-------------+-----------+-------------+------+-----------+----------------+
only showing top 20 rows

<p style="background:#AED6F1"><b>Development Life Cycle using Data Frames</p>

<p style="background:#FA8072;border-style:solid;"><b>WILL DO LATER</b></p>

<p style="background:#AED6F1"><b>Run Applications using Spark Submit</p>

<p style="background:#FA8072;border-style:solid;"><b>WILL DO LATER</b></p>

<p style="background:#F1C40F"><b>NOTE : </b> Example below shows all the above DF Operations and Transformations used in a scenario based problem which is to Get Daily Product Revenue with highest revenue being displayed first.</p>

<p style="background:#AED6F1"><b> Problem statement - Get Daily Product Revenue</p>

We need to develop code, where in we will calculate the revenue for each product on a daily basis. 
The datasets required for this problem are - 
* Orders Data File (orders.csv)
* Order Items Data File (orderItems.csv)
* Products Data File (products.csv)

<p style="background:#AED6F1"><b> Design - Get Daily Product Revenue</p>

The design of the problem is as follows -

1. orders.csv read in orders data frame.
2. order_items.csv read in orderItems data frame.
3. products.csv read in products data frame.
4. orders DF and orderItems DF joined into ordersJoin DF, on order_id as key column.
5. ordersJoin DF grouped by product_id column and then order_item_subtotal column aggregated using sum function.
6. ordersJoin DF and products DF joined on product_id as key column and a result data frame  created to show product_name and sum(subtotals)

<p style="background :#d0d5db"><b>Creating DF</b> </p>

In [ ]:
>>> orders = spark.read.csv('/public/retail_db/orders', schema='order_id int, order_date string, order_cust_id int, order_status string')

In [ ]:
>>> orders.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_cust_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [ ]:
>>> orders.show(5)

+--------+--------------------+-------------+---------------+              
|order_id|          order_date|order_cust_id|   order_status|
+--------+--------------------+-------------+---------------+
|       1|2013-07-25 00:00:...|        11599|         CLOSED|
|       2|2013-07-25 00:00:...|          256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|        12111|       COMPLETE|
|       4|2013-07-25 00:00:...|         8827|         CLOSED|
|       5|2013-07-25 00:00:...|        11318|       COMPLETE|
+--------+--------------------+-------------+---------------+
only showing top 5 rows

In [ ]:
>>> orderItems = spark.read. \
... format('csv'). \
... schema('''order_item_id int,
... order_id int,
... product_id int,
... qty int,
... subtotal float,
... product_price float'''). \
... load('/public/retail_db/order_items')

In [ ]:
>>> orderItems.printSchema()

root
 |-- order_item_id: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- qty: integer (nullable = true)
 |-- subtotal: float (nullable = true)
 |-- product_price: float (nullable = true)

In [ ]:
>>> orderItems.show(10)

+-------------+--------+----------+---+--------+-------------+               
|order_item_id|order_id|product_id|qty|subtotal|product_price|
+-------------+--------+----------+---+--------+-------------+
|            1|       1|       957|  1|  299.98|       299.98|
|            2|       2|      1073|  1|  199.99|       199.99|
|            3|       2|       502|  5|   250.0|         50.0|
|            4|       2|       403|  1|  129.99|       129.99|
|            5|       4|       897|  2|   49.98|        24.99|
|            6|       4|       365|  5|  299.95|        59.99|
|            7|       4|       502|  3|   150.0|         50.0|
|            8|       4|      1014|  4|  199.92|        49.98|
|            9|       5|       957|  1|  299.98|       299.98|
|           10|       5|       365|  5|  299.95|        59.99|
+-------------+--------+----------+---+--------+-------------+
only showing top 10 rows

In [ ]:
>>> products = spark.read. \
...              format('csv'). \
...              schema('product_id int, product_cat_id int, product_name string, product_description string, product_price float, product_img string'). \
...              load('/public/retail_db/products')

In [ ]:
>>> products.printSchema()

root
 |-- product_id: integer (nullable = true)
 |-- product_cat_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- product_description: string (nullable = true)
 |-- product_price: float (nullable = true)
 |-- product_img: string (nullable = true)

In [ ]:
>>> productsDF = products.select('product_id', 'product_name')

In [ ]:
>>> productsDF.show()

+----------+--------------------+
|product_id|        product_name|
+----------+--------------------+
|         1|Quest Q64 10 FT. ...|
|         2|Under Armour Men'...|
|         3|Under Armour Men'...|
|         4|Under Armour Men'...|
|         5|Riddell Youth Rev...|
|         6|Jordan Men's VI R...|
|         7|Schutt Youth Recr...|
|         8|Nike Men's Vapor ...|
|         9|Nike Adult Vapor ...|
|        10|Under Armour Men'...|
|        11|Fitness Gear 300 ...|
|        12|Under Armour Men'...|
|        13|Under Armour Men'...|
|        14|Quik Shade Summit...|
|        15|Under Armour Kids...|
|        16|Riddell Youth 360...|
|        17|Under Armour Men'...|
|        18|Reebok Men's Full...|
|        19|Nike Men's Finger...|
|        20|Under Armour Men'...|
+----------+--------------------+
only showing top 20 rows

<p style="background :#d0d5db"><b>Filtering, Joining and Aggregating Orders DFs</b> </p>

In [ ]:
>>> from pyspark.sql.functions import sum, round

In [ ]:
>>> ordersJoin = orders.where('order_status in("CLOSED", "COMPLETE")'). \
...  join(orderItems, orders.order_id == orderItems.oi_order_id). \
...  groupBy('order_date', 'oi_product_id'). \
...  agg(round(sum('oi_subtotal'), 2).alias('product_revenue'))

In [ ]:
>>> ordersJoin.show()

+--------------------+-------------+---------------+
|          order_date|oi_product_id|product_revenue|
+--------------------+-------------+---------------+
|2013-07-27 00:00:...|          703|          39.98|
|2013-07-29 00:00:...|          793|          44.97|
|2013-08-12 00:00:...|          627|         3199.2|
|2013-08-15 00:00:...|          926|          15.99|
|2013-09-04 00:00:...|          957|        3599.76|
|2013-09-07 00:00:...|          235|         104.97|
|2013-09-17 00:00:...|          792|          14.99|
|2013-09-25 00:00:...|           44|         239.96|
|2013-09-27 00:00:...|          276|          31.99|
|2013-10-04 00:00:...|          792|          44.97|
|2013-10-14 00:00:...|          835|          31.99|
|2013-10-19 00:00:...|         1004|        5599.72|
|2013-11-06 00:00:...|          502|         3800.0|
|2013-11-12 00:00:...|          282|          63.98|
|2013-11-19 00:00:...|          792|          59.96|
|2013-11-29 00:00:...|          235|         174.95|
|2013-11-30 00:00:...|          278|          44.99|
|2013-12-03 00:00:...|          778|          99.96|
|2013-12-09 00:00:...|          564|          180.0|
|2013-12-11 00:00:...|          775|          49.95|
+--------------------+-------------+---------------+
only showing top 20 rows

<p style="background :#d0d5db"><b>Joining Order and Product DFs and Sorting Revenue DF</b> </p>

In [ ]:
>>> revenueDF = ordersJoin. \
...              join(productsDF, ordersJoin.oi_product_id == productsDF.product_id). \
...              select('order_date', 'product_name', 'product_revenue'). \
...              sort(['order_date', 'product_revenue'], ascending=[1,0])

In [ ]:
>>> revenueDF.show()

+--------------------+--------------------+---------------+
|          order_date|        product_name|product_revenue|
+--------------------+--------------------+---------------+
|2013-07-25 00:00:...|Field & Stream Sp...|        5599.72|
|2013-07-25 00:00:...|Nike Men's Free 5...|        5099.49|
|2013-07-25 00:00:...|Diamondback Women...|         4499.7|
|2013-07-25 00:00:...|Perfect Fitness P...|        3359.44|
|2013-07-25 00:00:...|Pelican Sunstream...|        2999.85|
|2013-07-25 00:00:...|O'Brien Men's Neo...|        2798.88|
|2013-07-25 00:00:...|Nike Men's CJ Eli...|        1949.85|
|2013-07-25 00:00:...|Nike Men's Dri-FI...|         1650.0|
|2013-07-25 00:00:...|Under Armour Girl...|        1079.73|
|2013-07-25 00:00:...|Bowflex SelectTec...|         599.99|
|2013-07-25 00:00:...|Elevation Trainin...|         319.96|
|2013-07-25 00:00:...|Titleist Pro V1 H...|         207.96|
|2013-07-25 00:00:...|Nike Men's Kobe I...|         199.99|
|2013-07-25 00:00:...|Cleveland Golf Wo...|         119.99|
|2013-07-25 00:00:...|TYR Boys' Team Di...|         119.97|
|2013-07-25 00:00:...|Merrell Men's All...|         109.99|
|2013-07-25 00:00:...|LIJA Women's Butt...|          108.0|
|2013-07-25 00:00:...|Nike Women's Lege...|          100.0|
|2013-07-25 00:00:...|Team Golf Tenness...|          99.96|
|2013-07-25 00:00:...|Bridgestone e6 St...|          95.97|
+--------------------+--------------------+---------------+
only showing top 20 rows

<p style="background:#AED6F1"><b>Exercises</p>

<p style="background:#F1C40F">Get number of CLOSED or COMPLETE orders placed by each customer.</p>

In [ ]:
>>> orders = spark.read. \
...     format('csv'). \
...     schema('order_id int, order_date string, order_customer_id int, order_status string'). \
...     load('/public/retail_db/orders')

In [ ]:
>>> orders.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [ ]:
>>> from pyspark.sql.functions import *

In [ ]:
>>> orderByCustomer = orders. \
...                     where('order_status in ("CLOSED", "COMPLETE")'). \
...                     groupBy('order_customer_id', 'order_status'). \
...                     agg(count('order_id').alias('order_count'))

In [ ]:
>>> orderByCustomer.show()

+-----------------+------------+-----------+
|order_customer_id|order_status|order_count|
+-----------------+------------+-----------+
|            11267|      CLOSED|          2|
|             8416|    COMPLETE|          5|
|             4427|    COMPLETE|          1|
|             2118|    COMPLETE|          5|
|             6688|    COMPLETE|          2|
|             4267|      CLOSED|          1|
|            10228|    COMPLETE|          2|
|            11392|    COMPLETE|          2|
|             3472|    COMPLETE|          2|
|             6273|      CLOSED|          1|
|             6592|      CLOSED|          2|
|             1771|    COMPLETE|          2|
|             1565|    COMPLETE|          2|
|             8781|    COMPLETE|          1|
|            11083|    COMPLETE|          3|
|             9515|    COMPLETE|          3|
|            12287|    COMPLETE|          2|
|             5008|    COMPLETE|          2|
|             3242|    COMPLETE|          2|
|              356|    COMPLETE|          2|
+-----------------+------------+-----------+
only showing top 20 rows

In [ ]:
>>> orderByCustomer.sort('order_customer_id').show()

+-----------------+------------+-----------+
|order_customer_id|order_status|order_count|
+-----------------+------------+-----------+
|                1|    COMPLETE|          1|
|                2|    COMPLETE|          2|
|                3|    COMPLETE|          5|
|                4|    COMPLETE|          4|
|                4|      CLOSED|          1|
|                5|    COMPLETE|          2|
|                7|    COMPLETE|          1|
|                8|    COMPLETE|          2|
|                8|      CLOSED|          1|
|                9|      CLOSED|          1|
|                9|    COMPLETE|          2|
|               10|    COMPLETE|          2|
|               11|      CLOSED|          1|
|               11|    COMPLETE|          2|
|               12|      CLOSED|          1|
|               13|    COMPLETE|          3|
|               14|    COMPLETE|          4|
|               14|      CLOSED|          1|
|               15|    COMPLETE|          3|
|               16|    COMPLETE|          4|
+-----------------+------------+-----------+
only showing top 20 rows

<p style="background:#F1C40F">Get revenue generated by each customer for the month of 2014 January (consider only CLOSED or COMPLETE orders).</p>

In [ ]:
>>> orders = spark.read. \
...     format('csv'). \
...     schema('order_id int, order_date string, order_customer_id int, order_status string'). \
...     load('/public/retail_db/orders')

In [ ]:
>>> orderItems = spark.read. \
...  format('csv'). \
...  schema('''order_item_id int,
...  oi_order_id int,
...  oi_product_id int,
...  oi_qty int,
...  oi_subtotal float,
...  oi_product_price float'''). \
...  load('/public/retail_db/order_items')

In [ ]:
>>> orders.where('order_status in ("COMPLETE", "CLOSED") and substring(order_date, 1, 7) = "2014-01"').show()

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|   25882|2014-01-01 00:00:...|             4598|    COMPLETE|
|   25888|2014-01-01 00:00:...|             6735|    COMPLETE|
|   25889|2014-01-01 00:00:...|            10045|    COMPLETE|
|   25891|2014-01-01 00:00:...|             3037|      CLOSED|
|   25895|2014-01-01 00:00:...|             1044|    COMPLETE|
|   25897|2014-01-01 00:00:...|             6405|    COMPLETE|
|   25898|2014-01-01 00:00:...|             3950|    COMPLETE|
|   25899|2014-01-01 00:00:...|             8068|      CLOSED|

In [ ]:
>>> revenueDF = orders.select('order_id', substring(orders.order_date, 1, 7).alias('order_month'), 'order_customer_id', 'order_status')

In [ ]:
>>> revenueDF.show()

+--------+-----------+-----------------+---------------+
|order_id|order_month|order_customer_id|   order_status|
+--------+-----------+-----------------+---------------+
|       1|    2013-07|            11599|         CLOSED|
|       2|    2013-07|              256|PENDING_PAYMENT|
|       3|    2013-07|            12111|       COMPLETE|
|       4|    2013-07|             8827|         CLOSED|
|       5|    2013-07|            11318|       COMPLETE|
|       6|    2013-07|             7130|       COMPLETE|
|       7|    2013-07|             4530|       COMPLETE|
|       8|    2013-07|             2911|     PROCESSING|
|       9|    2013-07|             5657|PENDING_PAYMENT|
|      10|    2013-07|             5648|PENDING_PAYMENT|
|      11|    2013-07|              918| PAYMENT_REVIEW|
|      12|    2013-07|             1837|         CLOSED|
|      13|    2013-07|             9149|PENDING_PAYMENT|
|      14|    2013-07|             9842|     PROCESSING|
|      15|    2013-07|             2568|       COMPLETE|
|      16|    2013-07|             7276|PENDING_PAYMENT|
|      17|    2013-07|             2667|       COMPLETE|
|      18|    2013-07|             1205|         CLOSED|
|      19|    2013-07|             9488|PENDING_PAYMENT|
|      20|    2013-07|             9198|     PROCESSING|
+--------+-----------+-----------------+---------------+
only showing top 20 rows

In [ ]:
>>> revenueDF = orders.select('order_id', substring(orders.order_date, 1, 7).alias('order_month'), 'order_customer_id', 'order_status'). \
...             where('order_status in ("COMPLETE", "CLOSED") and order_month = "2014-01"')

In [ ]:
>>> revenueDF.show()

+--------+-----------+-----------------+------------+
|order_id|order_month|order_customer_id|order_status|
+--------+-----------+-----------------+------------+
|   25882|    2014-01|             4598|    COMPLETE|
|   25888|    2014-01|             6735|    COMPLETE|
|   25889|    2014-01|            10045|    COMPLETE|
|   25891|    2014-01|             3037|      CLOSED|
|   25895|    2014-01|             1044|    COMPLETE|
|   25897|    2014-01|             6405|    COMPLETE|
|   25898|    2014-01|             3950|    COMPLETE|
|   25899|    2014-01|             8068|      CLOSED|
|   25900|    2014-01|             2382|      CLOSED|
|   25901|    2014-01|             3099|    COMPLETE|
|   25902|    2014-01|             6083|    COMPLETE|
|   25907|    2014-01|             3603|    COMPLETE|
|   25913|    2014-01|             9382|    COMPLETE|
|   25914|    2014-01|             9288|    COMPLETE|
|   25915|    2014-01|             2963|    COMPLETE|
|   25916|    2014-01|             3219|    COMPLETE|
|   25918|    2014-01|              279|    COMPLETE|
|   25919|    2014-01|             3052|    COMPLETE|
|   25920|    2014-01|            12232|    COMPLETE|
|   25921|    2014-01|            12373|    COMPLETE|
+--------+-----------+-----------------+------------+
only showing top 20 rows

In [ ]:
>>> revenueDF = orders.select('order_id', substring(orders.order_date, 1, 7).alias('order_month'), 'order_customer_id', 'order_status'). \
...             where('order_status in ("COMPLETE", "CLOSED") and order_month = "2014-01"'). \
...             join(orderItems, orders.order_id == orderItems.oi_order_id)

In [ ]:
>>> revenueDF.show()

+--------+-----------+-----------------+------------+----------+-----------+-------------+------+----------+----------------+
|order_id|order_month|order_customer_id|order_status|oi_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtota|oi_product_price|
+--------+-----------+-----------------+------------+----------+-----------+-------------+------+----------+----------------+
|   25882|    2014-01|             4598|    COMPLETE|     64785|      25882|          191|     3|    299.97|           99.99|
|   25882|    2014-01|             4598|    COMPLETE|     64786|      25882|          502|     2|     100.0|            50.0|
|   25882|    2014-01|             4598|    COMPLETE|     64787|      25882|          627|     2|     79.98|           39.99|
|   25882|    2014-01|             4598|    COMPLETE|     64788|      25882|         1004|     1|    399.98|          399.98|
|   25888|    2014-01|             6735|    COMPLETE|     64799|      25888|          957|     1|    299.98|          299.98|
|   25889|    2014-01|            10045|    COMPLETE|     64800|      25889|         1014|     2|     99.96|           49.98|
|   25889|    2014-01|            10045|    COMPLETE|     64801|      25889|          804|     1|     19.99|           19.99|
|   25891|    2014-01|             3037|      CLOSED|     64806|      25891|          502|     3|     150.0|            50.0|
|   25891|    2014-01|             3037|      CLOSED|     64807|      25891|          502|     1|      50.0|            50.0|
|   25891|    2014-01|             3037|      CLOSED|     64808|      25891|          627|     3|    119.97|           39.99|
|   25895|    2014-01|             1044|    COMPLETE|     64813|      25895|         1004|     1|    399.98|          399.98|
|   25895|    2014-01|             1044|    COMPLETE|     64814|      25895|         1073|     1|    199.99|          199.99|
|   25897|    2014-01|             6405|    COMPLETE|     64819|      25897|          135|     3|      66.0|            22.0|
|   25897|    2014-01|             6405|    COMPLETE|     64820|      25897|          502|     5|     250.0|            50.0|
|   25897|    2014-01|             6405|    COMPLETE|     64821|      25897|          957|     1|    299.98|          299.98|
|   25898|    2014-01|             3950|    COMPLETE|     64822|      25898|          403|     1|    129.99|          129.99|
|   25900|    2014-01|             2382|      CLOSED|     64823|      25900|         1004|     1|    399.98|          399.98|
|   25900|    2014-01|             2382|      CLOSED|     64824|      25900|          365|     2|    119.98|           59.99|
|   25900|    2014-01|             2382|      CLOSED|     64825|      25900|          191|     2|    199.98|           99.99|
|   25901|    2014-01|             3099|    COMPLETE|     64826|      25901|          191|     3|    299.97|           99.99|
+--------+-----------+-----------------+------------+----------+-----------+-------------+------+----------+----------------+
only showing top 20 rows

In [ ]:
>>> revenueDF = orders.select('order_id', substring(orders.order_date, 1, 7).alias('order_month'), 'order_customer_id', 'order_status'). \
...             where('order_status in ("COMPLETE", "CLOSED") and order_month = "2014-01"'). \
...             join(orderItems, orders.order_id == orderItems.oi_order_id). \
...             groupBy('order_month', 'order_customer_id'). \
...             agg(round(sum('oi_subtotal'), 2).alias('revenue'))

In [ ]:
>>> revenueDF.show()

+-----------+-----------------+-------+
|order_month|order_customer_id|revenue|
+-----------+-----------------+-------+
|    2014-01|            11884| 1519.9|
|    2014-01|            12389| 249.97|
|    2014-01|            12126| 399.96|
|    2014-01|            11829|1289.78|
|    2014-01|             1340|  100.0|
|    2014-01|             6106|1289.89|
|    2014-01|            11370| 849.97|
|    2014-01|             3161| 654.82|
|    2014-01|             3283| 119.98|
|    2014-01|            10747| 649.88|
|    2014-01|            11789|1359.92|
|    2014-01|             7371|  389.9|
|    2014-01|             5920| 399.98|
|    2014-01|             1145| 429.93|
|    2014-01|             9559| 839.88|
|    2014-01|             5980|1161.82|
|    2014-01|             6552| 369.86|
|    2014-01|             4936| 849.85|
|    2014-01|             9211|1299.94|
|    2014-01|             4109| 579.91|
+-----------+-----------------+-------+
only showing top 20 rows

<p style="background:#F1C40F">Get revenue generated by each product on monthly basis – get product name, month and revenue generated by each product (round off revenue to 2 decimals).</p>

In [ ]:
>>> orders = spark.read. \
...      format('csv'). \
...      schema('order_id int, order_date string, order_customer_id int, order_status string'). \
...      load('/public/retail_db/orders')

In [ ]:
>>> orderItems = spark.read. \
...  format('csv'). \
...  schema('''order_item_id int,
...  oi_order_id int,
...  oi_product_id int,
...  oi_qty int,
...  oi_subtotal float,
...  oi_product_price float'''). \
...  load('/public/retail_db/order_items')

In [ ]:
>>> products = spark.read. \
...              format('csv'). \
...              schema('product_id int, product_cat_id int, product_name string, product_description string, product_price float, product_img string'). \
...              load('/public/retail_db/products')

In [ ]:
>>> from pyspark.sql.functions import *

In [ ]:
>>> revenueDF = orders.select('order_id', substring(orders.order_date, 1, 7).alias('order_month'), 'order_status')

In [ ]:
>>> revenueDF.show()

+--------+-----------+---------------+
|order_id|order_month|   order_status|
+--------+-----------+---------------+
|       1|    2013-07|         CLOSED|
|       2|    2013-07|PENDING_PAYMENT|
|       3|    2013-07|       COMPLETE|
|       4|    2013-07|         CLOSED|
|       5|    2013-07|       COMPLETE|
|       6|    2013-07|       COMPLETE|
|       7|    2013-07|       COMPLETE|
|       8|    2013-07|     PROCESSING|
|       9|    2013-07|PENDING_PAYMENT|
|      10|    2013-07|PENDING_PAYMENT|
|      11|    2013-07| PAYMENT_REVIEW|
|      12|    2013-07|         CLOSED|
|      13|    2013-07|PENDING_PAYMENT|
|      14|    2013-07|     PROCESSING|
|      15|    2013-07|       COMPLETE|
|      16|    2013-07|PENDING_PAYMENT|
|      17|    2013-07|       COMPLETE|
|      18|    2013-07|         CLOSED|
|      19|    2013-07|PENDING_PAYMENT|
|      20|    2013-07|     PROCESSING|
+--------+-----------+---------------+
only showing top 20 rows

In [ ]:
>>> revenueDF = orders.select('order_id', substring(orders.order_date, 1, 7).alias('order_month'), 'order_status'). \
...             join(orderItems, orders.order_id == orderItems.oi_order_id). \
...             groupBy('order_month', 'oi_product_id'). \
...             agg(round(sum('oi_subtotal'), 2).alias('product_revenue'))

In [ ]:
>>> revenueDF.show()

+-----------+-------------+---------------+
|order_month|oi_product_id|product_revenue|
+-----------+-------------+---------------+
|    2013-09|         1014|      243552.54|
|    2013-07|          216|          567.0|
|    2013-11|           24|        1519.81|
|    2013-11|          564|         2100.0|
|    2013-12|         1073|      262786.87|
|    2014-07|          792|         719.52|
|    2013-08|          258|        1234.87|
|    2013-12|          671|         839.96|
|    2014-02|          730|         1520.0|
|    2014-05|          677|        2699.73|
|    2014-06|          666|         659.94|
|    2013-07|         1014|        67722.9|
|    2013-10|          403|      219163.15|
|    2013-12|          804|        1859.07|
|    2013-12|          885|        2274.09|
|    2014-02|          276|        2143.33|
|    2013-09|          982|        1349.91|
|    2014-01|           58|         599.98|
|    2014-03|          845|         299.99|
|    2014-02|          893|        1874.25|
+-----------+-------------+---------------+
only showing top 20 rows

In [ ]:
>>> revenueDF = orders.select('order_id', substring(orders.order_date, 1, 7).alias('order_month'), 'order_status'). \
...             join(orderItems, orders.order_id == orderItems.oi_order_id). \
...             groupBy('order_month', 'oi_product_id'). \
...             agg(round(sum('oi_subtotal'), 2).alias('product_revenue')). \
...             join(products, orderItems.oi_product_id == products.product_id). \
...             select('order_month', 'product_name', 'product_revenue')

In [ ]:
>>> revenueDF.show()

+-----------+--------------------+---------------+
|order_month|        product_name|product_revenue|
+-----------+--------------------+---------------+
|    2013-09|O'Brien Men's Neo...|      243552.54|
|    2013-07|Yakima DoubleDown...|          567.0|
|    2013-11|Elevation Trainin...|        1519.81|
|    2013-11|Nike Men's Deutsc...|         2100.0|
|    2013-12|Pelican Sunstream...|      262786.87|
|    2014-07|Hirzl Men's Hybri...|         719.52|
|    2013-08|Nike Women's Free...|        1234.87|
|    2013-12|Cleveland Golf Co...|         839.96|
|    2014-02|LIJA Women's Argy...|         1520.0|
|    2014-05|TaylorMade White ...|        2699.73|
|    2014-06|Merrell Men's All...|         659.94|
|    2013-07|O'Brien Men's Neo...|        67722.9|
|    2013-10|Nike Men's CJ Eli...|      219163.15|
|    2013-12|Glove It Women's ...|        1859.07|
|    2013-12|Team Golf St. Lou...|        2274.09|
|    2014-02|Under Armour Wome...|        2143.33|
|    2013-09|insta-bed Neverfl...|        1349.91|
|    2014-01|Diamondback Boys'...|         599.98|
|    2014-03|Garmin Approach S...|         299.99|
|    2014-02|Team Golf Pittsbu...|        1874.25|
+-----------+--------------------+---------------+
only showing top 20 rows

<p style="background:#F1C40F">Get revenue generated by each product category on daily basis – get category name, date and revenue generated by each category (round off revenue to 2 decimals).</p>

In [ ]:
>>> from pyspark.sql.functions import *

In [ ]:
>>> orders = spark.read. \
...             format('csv'). \
...             schema('order_id int, order_date string, order_customer_id int, order_status string'). \
...             load('/public/retail_db/orders')

In [ ]:
>>> orderItems = spark.read. \
...                     format('csv'). \
...                     schema('oi_item_id int, oi_order_id int, oi_product_id int, oi_qty int, oi_subtotal float, oi_product_price float'). \
...                     load('/public/retail_db/order_items')

In [ ]:
>>> products = spark.read. \
...                     format('csv'). \
...                     schema('product_id int, product_category_id int, product_name string, product_description string, product_price float, product_image string'). \
...                     load('/public/retail_db/products')

In [ ]:
>>> categories = spark.read. \
...                     format('csv'). \
...                     schema('category_id int, category_department_id int, category_name string'). \
...                     load('/public/retail_db/categories')

In [ ]:
>>> categories.show()

+-----------+----------------------+-------------------+
|category_id|category_department_id|      category_name|
+-----------+----------------------+-------------------+
|          1|                     2|           Football|
|          2|                     2|             Soccer|
|          3|                     2|Baseball & Softball|
|          4|                     2|         Basketball|
|          5|                     2|           Lacrosse|
|          6|                     2|   Tennis & Racquet|
|          7|                     2|             Hockey|
|          8|                     2|        More Sports|
|          9|                     3|   Cardio Equipment|
|         10|                     3|  Strength Training|
|         11|                     3|Fitness Accessories|
|         12|                     3|       Boxing & MMA|
|         13|                     3|        Electronics|
|         14|                     3|     Yoga & Pilates|
|         15|                     3|  Training by Sport|
|         16|                     3|    As Seen on  TV!|
|         17|                     4|             Cleats|
|         18|                     4|     Men's Footwear|
|         19|                     4|   Women's Footwear|
|         20|                     4|     Kids' Footwear|
+-----------+----------------------+-------------------+
only showing top 20 rows

In [ ]:
>>> ordersJoin = orders.where('order_status in ("CLOSED","COMPLETE")'). \
...                     join(orderItems, orders.order_id == orderItems.oi_order_id)

In [ ]:
>>> prodcatJoin = products.select('product_id', 'product_category_id'). \
...                             join(categories, products.product_category_id == categories.category_id). \
...                             select('product_id', 'category_name')

In [ ]:
>>> prodcatJoin.show(5)

+----------+-------------------+-------------+
|product_id|product_category_id|category_name|
+----------+-------------------+-------------+
|         1|                  2|       Soccer|
|         2|                  2|       Soccer|
|         3|                  2|       Soccer|
|         4|                  2|       Soccer|
|         5|                  2|       Soccer|
+----------+-------------------+-------------+
only showing top 5 rows

In [ ]:
>>> ordersJoin.show(5)

+--------+--------------------+-----------------+------------+----------+-----------+-------------+------+-----------+----------------+
|order_id|          order_date|order_customer_id|order_status|oi_item_id|oi_order_id|oi_product_id|oi_qty|oi_subtotal|oi_product_price|
+--------+--------------------+-----------------+------------+----------+-----------+-------------+------+-----------+----------------+
|       1|2013-07-25 00:00:...|            11599|      CLOSED|         1|          1|          957|     1|     299.98|          299.98|
|       4|2013-07-25 00:00:...|             8827|      CLOSED|         5|          4|          897|     2|      49.98|           24.99|
|       4|2013-07-25 00:00:...|             8827|      CLOSED|         6|          4|          365|     5|     299.95|           59.99|
|       4|2013-07-25 00:00:...|             8827|      CLOSED|         7|          4|          502|     3|      150.0|            50.0|
|       4|2013-07-25 00:00:...|             8827|      CLOSED|         8|          4|         1014|     4|     199.92|           49.98|
+--------+--------------------+-----------------+------------+----------+-----------+-------------+------+-----------+----------------+
only showing top 5 rows

In [ ]:
>>> categoryRevenueDF = ordersJoin. \
...                             join(prodcatJoin, ordersJoin.oi_product_id == prodcatJoin.product_id). \
...                             groupBy('order_date', 'product_category_id', 'category_name'). \
...                             agg(round(sum('oi_subtotal'), 2).alias('revenue')). \
...                             select('order_date', 'category_name', 'revenue')

In [ ]:
>>> categoryRevenueDF.show()

+--------------------+-------------------+-------+
|          order_date|      category_name|revenue|
+--------------------+-------------------+-------+
|2013-09-10 00:00:...|         Golf Balls|  189.9|
|2014-02-25 00:00:...|         Golf Balls|  59.97|
|2013-11-16 00:00:...|   Kids' Golf Clubs|  399.8|
|2014-04-08 00:00:...|Fitness Accessories|  34.99|
|2014-07-04 00:00:...|Fitness Accessories| 139.96|
|2013-08-04 00:00:...|             Soccer| 124.99|
|2013-10-14 00:00:...|             Soccer| 124.99|
|2013-08-04 00:00:...|       Water Sports|5399.73|
|2013-08-24 00:00:...|       Water Sports|4599.77|
|2014-05-15 00:00:...|    Women's Apparel| 4400.0|
|2013-08-07 00:00:...|      Shop By Sport|2439.39|
|2014-05-18 00:00:...|        Electronics| 231.94|
|2013-11-02 00:00:...|        Golf Gloves| 124.95|
|2013-09-21 00:00:...|   Cardio Equipment| 2089.8|
|2014-03-03 00:00:...|        Electronics| 431.88|
|2014-02-26 00:00:...|    As Seen on  TV!| 399.96|
|2013-09-26 00:00:...|   Men's Golf Clubs| 134.99|
|2014-03-29 00:00:...|   Cardio Equipment| 3999.6|
|2013-09-11 00:00:...|   Cardio Equipment| 899.91|
|2014-03-10 00:00:...|     Girls' Apparel|  250.0|
+--------------------+-------------------+-------+
only showing top 20 rows

In [ ]:
>>> categoryRevenueDF.where("category_name == 'Golf Balls'").sort('order_date').show()

+--------------------+-------------+-------+
|          order_date|category_name|revenue|
+--------------------+-------------+-------+
|2013-07-25 00:00:...|   Golf Balls|  79.96|
|2013-07-26 00:00:...|   Golf Balls| 249.86|
|2013-07-27 00:00:...|   Golf Balls| 116.93|
|2013-07-28 00:00:...|   Golf Balls|  37.98|
|2013-07-29 00:00:...|   Golf Balls| 278.85|
|2013-07-30 00:00:...|   Golf Balls|  95.94|
|2013-07-31 00:00:...|   Golf Balls| 175.89|
|2013-08-01 00:00:...|   Golf Balls|  17.99|
|2013-08-02 00:00:...|   Golf Balls| 236.86|
|2013-08-03 00:00:...|   Golf Balls|  69.96|
|2013-08-04 00:00:...|   Golf Balls|  17.99|
|2013-08-05 00:00:...|   Golf Balls| 299.85|
|2013-08-06 00:00:...|   Golf Balls|  87.95|
|2013-08-07 00:00:...|   Golf Balls|  57.97|
|2013-08-08 00:00:...|   Golf Balls|  44.97|
|2013-08-10 00:00:...|   Golf Balls| 309.82|
|2013-08-11 00:00:...|   Golf Balls|  59.97|
|2013-08-12 00:00:...|   Golf Balls|  68.96|
|2013-08-13 00:00:...|   Golf Balls|  29.98|
|2013-08-14 00:00:...|   Golf Balls|  59.96|
+--------------------+-------------+-------+
only showing top 20 rows

In [ ]:
>>> categoryRevenueDF.where("category_name == 'Golf Balls'").sort('order_date').count()

296

<p style="background :#d0d5db"><b>Validation Through Hive Query</b> </p>

In [ ]:
hive (monahadoop_final)> select order_date, cat_name, round(sum(item_subtotal), 2)
                       > from 
                       > orders, order_items, products, categories
                       > where
                       > orders.order_id = order_items.item_order_id and
                       > order_items.item_product_id = products.product_id and
                       > products.product_category_id = categories.cat_id
                       > and order_status in ("CLOSED", "COMPLETE")
                       > group by order_date, product_category_id, cat_name;

In [ ]:
hive (monahadoop_final)> select order_date, cat_name, round(sum(item_subtotal), 2)
                       > from 
                       > orders, order_items, products, categories
                       > where
                       > orders.order_id = order_items.item_order_id and
                       > order_items.item_product_id = products.product_id and
                       > products.product_category_id = categories.cat_id
                       > and order_status in ("CLOSED", "COMPLETE")
                       > group by order_date, product_category_id, cat_name
                       > having cat_name = 'Golf Balls';

In [ ]:
2013-07-25 00:00:00.0	Golf Balls	79.96
2013-07-26 00:00:00.0	Golf Balls	249.86
2013-07-27 00:00:00.0	Golf Balls	116.93
2013-07-28 00:00:00.0	Golf Balls	37.98
2013-07-29 00:00:00.0	Golf Balls	278.85
2013-07-30 00:00:00.0	Golf Balls	95.94
2013-07-31 00:00:00.0	Golf Balls	175.89

Time taken: 42.673 seconds, Fetched: 296 row(s)

<p style="background:#F1C40F">Get the details of the customers who never placed any order.</p>

In [ ]:
>>> customers = spark.read. \
...                     format('csv'). \
...                     schema('customer_id int, customer_fname string, customer_lname string, customer_email string, customer_password string, customer_street string, customer_city string, customer_state string, customer_zipcode string'). \
...                     load('/public/retail_db/customers')

In [ ]:
>>> customers.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- customer_fname: string (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_password: string (nullable = true)
 |-- customer_street: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zipcode: string (nullable = true)

In [ ]:
>>> orders = spark.read. \
...      format('csv'). \
...      schema('order_id int, order_date string, order_customer_id int, order_status string'). \
...      load('/public/retail_db/orders')

In [ ]:
>>> CustomerWithNoOrdersDF = customers. \
...                             join(orders, customers.customer_id == orders.order_customer_id, "left"). \
...                             where('order_status is NULL'). \
...                             select('customer_fname', 'customer_lname'). \
...                             sort('customer_lname', 'customer_fname')

>>> CustomerWithNoOrdersDF.show(50)
+--------------+--------------+
|customer_fname|customer_lname|
+--------------+--------------+
|          Mary|        Bolton|
|        Albert|       Ellison|
|       Carolyn|         Green|
|          Mary|        Greene|
|          Mary|       Harrell|
|          Mary|         Lewis|
|          Mary|       Mueller|
|       Matthew|         Patel|
|          Mary|          Shaw|
|        Amanda|         Smith|
|        Ashley|         Smith|
|          Carl|         Smith|
|          Emma|         Smith|
|         Grace|         Smith|
|         James|         Smith|
|          Joan|         Smith|
|       Kenneth|         Smith|
|         Kevin|         Smith|
|          Mary|         Smith|
|          Mary|         Smith|
|          Mary|         Smith|
|          Mary|         Smith|
|         Randy|         Smith|
|       Stephen|         Smith|
|         Donna|      Stephens|
|          Jose|        Tanner|
|       Dorothy|       Vazquez|
|          Gary|        Walker|
|          Mary|      Williams|
|          Alan|          Wolf|
+--------------+--------------+

<p style="background :#d0d5db"><b>END</b> </p>